
<!-- <div class="color-line"></div> -->

  <!-- <link rel="stylesheet" type="text/css" href="src/assets/newassets/bootstrap/css/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="src/assets/newassets/custom.css"> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<section class="mt-md-5 mb-5 con-div">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6 text-center pt-5">
        <div class="card ">
          <div class="card-body">
            <h2 class="f-42 fw-bold mb-4">Congratulations!</h2>
            <p class="my-4"><i class="fa-regular fa-circle-check"></i></p>
            <p class="f-20 my-4">Your password has been reset.</p>
            <p class="f-26 my-4">Please sign in using your new password</p>
            <p class="mt-4 mb-0"><a [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn cm-btn-2">Continue to Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
