<div class="bg-2" style="display: flex;flex-direction: column;gap: 4rem;">
  <app-header></app-header>
  <!-- <link rel="stylesheet" type="text/css" href="src/assets/newassets/bootstrap/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="src/assets/newassets/custom.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
    rel="stylesheet">


  <section class="reset-form bg-2 mt-md-5" *ngIf="!MailSentMassege" style="margin-top: 30rem;margin-bottom: 2rem; height: unset;">
    <div class="container" style="margin-top: -70px !important; ">
      <div class="row align-items-center m-t-250">
        <div class="col-md-6 ">
          <div class="text-center">
            <img src="assets/newassets/images/Check_Mail.png" class="img-fluid" width="200">
          </div>
        </div>
        <div class="col-md-5 ">
          <h3 class="f-16 fw-semibold font-text " *ngIf=" truecheck ||  !otpEmailSent && this.otpVerified">Forgot your
            password ?</h3>
          <p class="f-16 fw-500 py-3 mb-0 font-fmaily font-width-txt" style="margin-top: 30px;"
            *ngIf="truecheck || !otpEmailSent && this.otpVerified">Just tell us the email you used to register and we’ll
            send the instructions for resetting your password.</p>
          <div class="form-box" style="margin-top: 30px;">
            <form class="" [formGroup]="forgotpasswordForm">
              <div class="my-4" *ngIf=" truecheck ||  !otpEmailSent && this.otpVerified">
                <input type="text" class="form-control cm-input" placeholder="Email Address"
                  formControlName="recoverPassword">
              </div>

              <div  class="fs-15"  *ngIf="pwd.recoverPassword.invalid && (pwd.recoverPassword.dirty || pwd.recoverPassword.touched)">
                <div *ngIf="pwd.recoverPassword.errors.required" style="color: #c3002f;float:right;"> Please
                  enter Email Address</div>
                <div *ngIf="!pwd.recoverPassword.errors.valid && pwd.recoverPassword.errors.pattern && !pwd.recoverPassword.errors.maxword " style="color: #c3002f;float:right;"> Enter
                  valid Email Address</div>
                <!-- Email extension validation . we can use this in future commented by Prasanna -->
                <!-- <div *ngIf="pwd.recoverPassword.errors.valid && !pwd.recoverPassword.errors.pattern" style="color: #c3002f;float:right;">Enter valid domain</div> -->
                <div *ngIf="pwd.recoverPassword.errors.maxword" style="color: #c3002f;float:right;"> Email maximum length is 50  </div>
                <div *ngIf="pwd.recoverPassword.errors.foundInSecondary" style="color: #c3002f;float:right;"> We've
                  found a match in the secondary email. Would you
                  like to set it as your primary email address?</div>
                <div *ngIf="
                  (domainValidatorSubmit && pwd.recoverPassword.invalid) ||
                  (pwd.recoverPassword.invalid &&
                    (pwd.recoverPassword.dirty ||
                      pwd.recoverPassword.touched))
                " class="error-msg fs-15">
                  <div style="color: #c3002f" *ngIf="pwd.recoverPassword.errors.emailExistsAlready">
                    That email is taken already. Please, enter a different one.
                  </div>
                </div>
              </div>

              <div *ngIf="forgetPasswordMsg">
                <p style="color: red;">Sorry, we don't recognise that email address</p>
                <P>Do you want to <span style="color: rgb(73, 127, 208); cursor: pointer"
                    [routerLink]="['/signUp']">Sign Up</span>?</P>
              </div>

              <div clas="mt-4" *ngIf="!otpEmailSent && !this.otpVerified"
                style="display: flex; float: right; column-gap: 5px;">
                <button style="min-width:60px;" class="btn primary-btn btn-sm" *ngIf="foundInSecondary"
                  routerLink="/login">Go Back</button>
                <button style="min-width:60px;" class="btn primary-btn btn-sm" type="button"
                  (click)="proceedAfterValidation()" *ngIf="foundInSecondary && !flag">Yes</button>
              </div>

              <div class="mt-4">
                <div *ngIf="otpEmailSent && !this.otpVerified" class="alert alert-info addd-dngr" role="alert"
                  style="  display: block;  top: -24px;">
                  An authentication code has been sent to your business email. Please, enter it below.
                </div>
              </div>

              <div *ngIf="otpEmailSent && !this.otpVerified" style="position:relative; top:-15px">
                <input class="form-control cm-input" formControlName="domainValidationOtp" placeholder="Enter Otp"
                  type="text" trim="blur" maxlength="6" (keydown.space)="$event.preventDefault()">
                <div *ngIf="
                        (domainValidatorSubmit && pwd.domainValidationOtp.invalid) ||
                        (pwd.domainValidationOtp.invalid &&
                          (pwd.domainValidationOtp.dirty ||
                            pwd.domainValidationOtp.touched))
                      " style="color: #c3002f">
                  <div *ngIf="pwd.domainValidationOtp.errors.required">
                    Please, enter OTP.
                  </div>
                  <div *ngIf="pwd.domainValidationOtp.errors.wrongDomainValidationOtp">
                    Incorrect OTP. Enter the right one.
                  </div>
                </div>
              </div>

              <div style="margin-bottom: 1rem;" *ngIf="  !foundInSecondary && !otpEmailSent && !this.otpVerified">
                <re-captcha (resolved)="resolved($event)" [siteKey]="captchkey"></re-captcha>
              </div>

              <div class="mt-4" *ngIf="isDisabled && !foundInSecondary && !otpEmailSent && !this.otpVerified">
                <a (click)="forgotPassword()" class="btn cm-btn-2 font-fmaily btn-font-size">Send reset link</a>
              </div>

              <div class="mt-4" *ngIf="otpEmailSent && !this.otpVerified">
                <a style="margin-top: 2rem;" class="btn cm-btn-2" (click)="validateOtp()">Validate OTP</a>
              </div>

              <div class="my-3" *ngIf="!otpEmailSent && !this.otpVerified">
                <p class="f-14 mb-0 color-2 already-account">Already Have A GIGSUMO Account? <a
                    [routerLink]="['/login']" routerLinkActive="router-link-active"
                    class="color-text fw-bold  fw-bold-login">Login</a></p>
              </div>
            </form>



            <div *ngIf="msgsend">
              Please check the mail for Password
              <button class="btn btn-info btn-block" [routerLink]="['/login']"
                routerLinkActive="router-link-active">Thank you</button>
            </div>

            <div *ngIf="notActive">
              <h5 style="color: red !important; line-height: 1.5;">
                Account is not yet activated, please check your email to complete registration.
              </h5>
            </div>

            <!-- app user question start  -->
            <div *ngIf="appUserQ1">
              <div class="register-container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <div class="text-center m-b-md">
                        <img class="app-logo" src="assets/icon/gigsumologo_bigface.png" width="35%">
                      </div>
                      <div class="panel-body">
                        <form [formGroup]="forgotPasswordAppUserForm" (ngSubmit)="AppuserQuestion()"
                          class="custom-form">
                          <div class="row">
                            <div class="text-center m-b-md">
                              <h4>Forgot your Password ?</h4>
                              <h6>Please Answer the Security Question</h6>
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Email</label>
                              <input type="text" formControlName="AppUserEmail" class="form-control"
                                [attr.disabled]="true">
                              <div
                                *ngIf="appuser.AppUserEmail.invalid && (appuser.AppUserEmail.dirty || appuser.AppUserEmail.touched)"
                                class="alert alert-danger">
                                <div *ngIf="appuser.recoverPassword.errors.required"> Please Enter the Email Address.
                                </div>
                                <div *ngIf="appuser.recoverPassword.errors.email"> Enter the valid Email Address</div>
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <!-- <label for="name">{{ AppQuestions }}</label> -->
                              <label>Question</label>
                              <!-- <label for=""  formControlName="AppUserquestion"> {{AppUserquestion}}</label> -->
                              <input type="text" formControlName="AppUserquestion" id="name" class="form-control"
                                [attr.disabled]="true">
                              <!-- {{ AppUserquestion.value }} -->
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Answer</label>
                              <input type="text" formControlName="AppUserAnswer" class="form-control">
                              <div
                                *ngIf="appuser.AppUserAnswer.invalid && (appuser.AppUserAnswer.dirty || appuser.AppUserAnswer.touched)"
                                class="alert alert-danger">
                                <div *ngIf="appuser.AppUserAnswer.errors.required"> Please fill the answer.</div>
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <button class="btn btn-info btn-block" type="submit">Send</button>
                            </div>
                          </div>
                        </form>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <strong>New to GigSumo?</strong> <a>Sign Up Free</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- app user question start  -->
            <div *ngIf="appUserQ2">
              <div class="register-container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <div class="text-center m-b-md">
                        <img class="app-logo" src="assets/icon/gigsumologo_bigface.png" width="35%">
                      </div>
                      <div class="panel-body">
                        <form [formGroup]="forgotPasswordAppUserForm" (ngSubmit)="AppuserQuestionTwo()"
                          class="custom-form">
                          <div class="row">
                            <div class="text-center m-b-md">
                              <h4>Forgot your Password ?</h4>
                              <h6>Please Answer the Security Question</h6>
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Email</label>
                              <input type="text" formControlName="AppUserEmail" class="form-control"
                                [attr.disabled]="true">
                              <div
                                *ngIf="appuser.AppUserEmail.invalid && (appuser.AppUserEmail.dirty || appuser.AppUserEmail.touched)"
                                class="alert alert-danger">
                                <div *ngIf="appuser.recoverPassword.errors.required"> Please Enter the Email Address.
                                </div>
                                <div *ngIf="appuser.recoverPassword.errors.email"> Enter the valid Email Address</div>
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Question</label>
                              <input type="text" formControlName="AppUserquestion" class="form-control"
                                [attr.disabled]="true">
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Answer</label>
                              <input type="text" formControlName="AppUserAnswer" class="form-control">
                              <div
                                *ngIf="appuser.AppUserAnswer.invalid && (appuser.AppUserAnswer.dirty || appuser.AppUserAnswer.touched)"
                                class="alert alert-danger">
                                <div *ngIf="appuser.AppUserAnswer.errors.required"> Please fill the answer.</div>
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <button class="btn btn-info btn-block" type="submit">Send</button>
                            </div>
                          </div>
                        </form>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <strong>New to CareOnline?</strong> <a>Sign Up Free</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- app user question start  -->
            <div *ngIf="appUserQ3">
              <div class="register-container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="">
                      <div class="text-center m-b-md">
                        <img class="app-logo" src="assets/icon/gigsumologo_bigface.png" width="35%">
                      </div>
                      <div class="panel-body">
                        <form [formGroup]="forgotPasswordAppUserForm" (ngSubmit)="AppuserQuestionThree()"
                          class="custom-form">
                          <div class="row">
                            <div class="text-center m-b-md">
                              <h4>Forgot your Password ?</h4>
                              <h6>Please Answer the Security Question</h6>
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Email</label>
                              <input type="text" formControlName="AppUserEmail" class="form-control"
                                [attr.disabled]="true">
                              <div
                                *ngIf="appuser.AppUserEmail.invalid && (appuser.AppUserEmail.dirty || appuser.AppUserEmail.touched)"
                                class="alert alert-danger">
                                <div *ngIf="appuser.recoverPassword.errors.required"> Please Enter the Email Address.
                                </div>
                                <div *ngIf="appuser.recoverPassword.errors.email"> Enter the valid Email Address</div>
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Question</label>
                              <input type="text" formControlName="AppUserquestion" class="form-control"
                                [attr.disabled]="true">
                            </div>
                            <div class="form-group col-lg-12">
                              <label>Answer</label>
                              <input type="text" formControlName="AppUserAnswer" class="form-control">
                              <div
                                *ngIf="appuser.AppUserAnswer.invalid && (appuser.AppUserAnswer.dirty || appuser.AppUserAnswer.touched)"
                                class="alert alert-danger">
                                <div *ngIf="appuser.AppUserAnswer.errors.required"> Please fill the answer.</div>
                              </div>
                            </div>
                            <div class="form-group col-lg-12">
                              <button class="btn btn-info btn-block" type="submit">Send</button>
                            </div>
                          </div>
                        </form>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <strong>New to GigSumo?</strong> <a>Sign Up Free</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- accout block massege start  -->
            <div *ngIf="AccountBlockMassege">
              <div class="register-container">
                <div class="row">
                  <div class="col-md-8" style="background-color: white;">
                    <div class="">
                      <div class="text-center m-b-md">
                        <img class="app-logo" src="assets/icon/gigsumologo_bigface.png" width="35%">
                      </div>
                      <div class="panel-body">
                        <h5>Your Accout has been locked. Please contact Admin</h5>
                        <button class="btn btn-info btn-block" [routerLink]="['/login']"
                          routerLinkActive="router-link-active"> thank you</button>
                        <div class="row">
                          <div class="col-md-12 text-center">
                            <strong>New to GigSumo?</strong> <a>Sign Up Free</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="MailSentMassege" class="activation bg-2 py-md-5 py-3 mt-md-5 mail-content" >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center my-5 my-md-0">
          <img src="assets/newassets/images/mail.png" class="img-fluid" width="260">
        </div>
        <div class="col-md-5">
          <h3 class="f-26 mb-md-4 mb-4 form-title app-font-family">Great, please check your email!!</h3>
          <p class="f-20 pls-note app-font-family">Please Note:</p>
          <p class="f-16 fw-500 ">You will receive a activation link to the email you provided.</p>
          <p class="f-16 fw-500">The email will be valid for 24 hours.</p>
          <p class="f-16 fw-500">Don't see an email after 10 minutes?</p>
          <p class="f-16 fw-500">Check your spam folder for an email from <a class="color-1">noreply@gigsumo.com</a></p>
          <!-- <div class="my-3 pt-2">
                <a href="#" class="btn cm-btn-2">Resent activation link</a>
              </div> -->
        </div>

      </div>
    </div>
  </section>

  <app-footer> </app-footer>
</div>
