.container1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mg-ten {
  margin: 20px !important;
}

.m-t-250 {
  margin-top: -225px !important;
}
.font-text {
  font-size: 48px !important;
  font-weight: 700 !important;
  font-family: Poppins, sans-serif;
  width: 150%;
}
.font-fmaily {
  font-family: Poppins, sans-serif;
}

.font-width-txt {
  font-weight: 500;
  color: #111;
  font-size: 18px !important;
}

.btn-font-size {
  font-family: Poppins, sans-serif !important;
  font-size: 20px !important;
}

.already-account {
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

.fw-bold-login{
  font-size: 17px !important;
}

.mail-content{
   margin-bottom: 150px;
   margin-top: 125px;
   font-family: Poppins, sans-serif !important;
   h3{
    font-size: 40px;
    font-family: Poppins, sans-serif !important;
   }
   p{
    font-size: 16px;
    font-family: Poppins, sans-serif !important;
   }
   .pls-note{
    font-family: Poppins, sans-serif !important;
    font-size: 21px;
    color: #111;
    font-weight: 402px;
    font-weight: 700;
   }
}





