.gallery-carousel {
    z-index: 99;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(100, 100, 100, 0.5); */
    background: #000;
    // -webkit-backdrop-filter: blur(5px);

    .carousel-image {
        // background-color: #fff;
        // padding: 1.5rem;
        @media (max-width: 576px) {
            padding: 0.5rem;
        }
        position: relative;
        overflow: hidden;
        img {
            max-width: 50vw;
            max-height: 70vh;
        }

        video {
            max-width: 50vw;
            max-height: 70vh;
        }
    }

    .carousel-button {
        padding: 1.5rem;
        position: absolute;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        span {
            color: transparent;
            display: flex;
            align-items: center;
            font-size: 3rem;
            padding: 0.5rem;
            flex-grow: 1;
            &:nth-child(3) {
                justify-content: flex-end;
            }

            &:not(:nth-child(2)) {
                cursor: pointer;
                &:focus, &:hover {
                    border: none;
                    outline: none;
                    color: #848181;
                    font-weight: 600;
                    opacity: 0.7;

                }
            }
        };
    }
    .carousel-close {
         position: absolute;
         top: 0;
         left: 0;
         font-size: 1rem;
         padding: 1rem;
         margin: 1rem;
         cursor: pointer;
         &:focus, &:hover {
            border: none;
            outline: none;
            color: #fff;
            transform: scale(1.2);
        }

    }
}

.close11 {
    // position: relative;
    // top: -42vh;
    // left: 13vw;
    position: fixed;
    top: 3vh;
    left: 93vw;
    // color: #000;
    // color: #fff;
    // background-color: #848188 !important;
    border-radius: 50%;
    padding: 0px 14px;

    &:hover {
    color: #fff;
    // color: #000;
    cursor: pointer;
    //     background: #fff !important;
    }
}


.sdwer {
    font-size: 3.7rem;
    font-weight: 100;
    color: #fff;
}

.logo {
    max-height: 6rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 4rem;
    margin-top: 13px;
}

.offThePicture {
    cursor: pointer;
    span:nth-child(1) {
        position: fixed;
        left: 3rem;
        background-color: #848188;
        color: black;
        border-radius: 50%;
        padding: 7px 17.2px;
        font-size: 2.7rem;

    }
    span:nth-child(2) {
        position: fixed;
        right: 3rem;
        background-color: #848188;
        border-radius: 50%;
        color: black;
        padding: 7px 17.2px;
        font-size: 2.7rem;
    }

    span:hover {
        color: #000;
        background-color: #fff;
    }
}
