.form-group{
    .date-icon {
        position: absolute;
        top: 10px;
        right: 24px;
        cursor: pointer;
        }
}

.content {
    padding: 64px 128px 40px 156px;
    min-width: 320px;
    background-color: #f1f3f6;
    // background-color: rgb(236, 236, 236)
    // background-color: white;
}

// .required-field::before {
//     content: "*";
//     color:#c3002f;
//     float: right
//   }

.city {
    padding-left: 0px;
}

.state {
    padding-right: 0px;
}

.kjsdf {
  margin-top: 2.8rem;
  padding: 0px;
  margin-left: -0.7rem;
}

.stopThereCss {
  position: -webkit-sticky;
  position: sticky;
  top: 6.2rem;;
  left: 25rem;
}


//customs checked box



// .container2 {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 12px;
//   cursor: pointer;
//   font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// /* Hide the browser's default checkbox */
// .container2 input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

// /* Create a custom checkbox */
// .checkmark2 {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   background-color: #eee;
// }

// /* On mouse-over, add a grey background color */
// .container2:hover input ~ .checkmark {
//   background-color: #ccc;
// }

// /* When the checkbox is checked, add a blue background */
// .container2 input:checked ~ .checkmark {
//    background-color: #1d8664;
// }

/* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .container2 input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the checkmark/indicator */
// .container2 .checkmark:after {
//   left: 9px;
//   top: 2px;
//   width: 8px;
//   height: 14px;
//   border: 1px solid rgb(8, 7, 7);
//   border-width: 0 1px 1px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }



//Font size
.c-btn{
  font-size: 12px !important;
}


.multsel {
    border-width: 0.5px;
    line-height: 0.25;
    border-radius: 3px;
    font-size: 12px !important;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    min-height: 34px;
    color:#948a8a;
}

label{
  text-align: right;
}


// //custom Radio Button

// /* The container */

// // /* On mouse-over, add a grey background color */
// .containerR:hover input ~ .checkmarkR {
//   background-color: #ccc;
// }

// // /* When the radio button is checked, add a blue background */
// .containerR input:checked ~ .checkmarkR {
//   background-color: #eee;
// }

// // /* Create the indicator (the dot/circle - hidden when not checked) */
// .checkmarkR:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// // /* Show the indicator (dot/circle) when checked */
// .containerR input:checked ~ .checkmarkR:after {
//   display: block;
// }

// // /* Style the indicator (dot/circle) */
// .containerR .checkmarkR:after {
//  	top: 8px;
// 	left: 8px;
// 	width: 8px;
// 	height: 8px;
// 	border-radius: 50%;
// 	background: #1d8664;
// }

.radio_c{
  border: 1px solid #63cfbe;
}


.searchBar{
  width: 60%;
  margin-top: 2rem;
}

.nav-right{
  float: right !important;
  margin-right: 20px;
  margin-top: 1rem;

}

.photo{
  margin-top: 5px;
  width: 56%;
}

// /* On mouse-over, add a grey background color */
.containerR:hover input ~ .checkmarkR {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerR input:checked ~ .checkmarkR {
  background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkR:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerR input:checked ~ .checkmarkR:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerR .checkmarkR:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #63cfbe;
}


.photoNav{
  height: 39px;
  width: 39px;
  // margin-top: 9px;
  position: relative;
  bottom: 1.5rem;
}

.m-r-56{
  margin-right: 56px;

}

.hpanel{
  .panel-body{
    .btn-group{
        .edit-pencil{
            border-radius: 50%;
            border: none;
            color: transparent;
            line-height: 25px;
            &:hover{
                background-color:#c6ccdd;

            }
            &:active{
                background-color: #b6bfd6;

            }
        }
    }
  }
}

.sp{
  margin-left: -10px;
}

.pad-left-410{
  padding-left: 410px;
}


.delBG{
  cursor: pointer;
  color: #63cfbe !important;
  font-size: 15px;
  margin-bottom: -26px;

}

.nav-bar-css {
  position: fixed;
  z-index: 99 !important;
  top: 0rem !important;
  width: 100vw;
  background-color: #fff;
  height:55px;border: 0px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
  border-radius: 0px;
}
.logo-size_define{
  height: 51px;
  width: 100px;
}
