.hpanel .panel-body {
  padding: 8px;
}

.list-style-none {
  list-style-type: decimal;
  padding-left: 20px;
}

.mt2, .mv2 {
  margin-top: 8px!important;
}

.mb1 {
  margin-bottom: 4px!important;
}

.news-module__storyline {
  transition-property: max-height,opacity;
}

.block {
  display: block!important;
}

.link-without-hover-state {
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
  border: 0;
}
.truncate {
  white-space: nowrap!important;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
}

.pr4 {
  padding-right: 16px!important;
}

.mt1, .mv1 {
  margin-top: 4px!important;
}

.t-black {
  color: var(--color-text);
}

.t-14 {
  font-size: 13px;
  line-height: 1.42857;
}

.t-bold {
  font-weight: 600;
}

.news-module__headline-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  margin-left: 12px;
  border: 4px solid var(--blue-50,#33aada);
}

.news-module__subtext {
  // padding-left: 28px;
}

.inline-block {
  display: inline-block!important;
}

.full-width {
  width: 100%!important;
}

.pr3 {
  padding-right: 12px!important;
}

.t-black--light {
  color: var(--color-text-low-emphasis);
}

.t-normal {
  font-weight: 400;
}
