.credit-title {
  font-size: 15px;
  color: #fff;
}

.close-icoon {
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}

.modal-title {
  font-size: 19px;
  font-weight: 300;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 6px 0;
  float: left;
  line-height: normal;
}

.m-t-6 {
  margin-top: 6px;
}

.txt-al-ce {
  text-align: center;
}

.m-b-9 {
  margin-bottom: 9px;
}

@keyframes bottomarrowAnimation {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(19px);
  }
}

.bottomarrow {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 23px solid #3498db;
  margin: 0 auto;
  animation: bottomarrowAnimation 1s infinite;
}


@keyframes uparr {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.uparrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid #3498db;
  margin: 0 auto;
  animation: uparr 1s infinite;
}



@keyframes rightArr {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(24px);
  }
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid red;
  /* Change the color if needed */
  margin: 0 auto;
  animation: rightArr 1s infinite;
}


.table-lrbt {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  // margin-inline-start: -10px;
}

.dongrade-model {
  background-color: #fff;
  max-height: 95vh;
}

.candidate-list-scroll {
  max-height: 58vh !important;
  overflow-y: auto;
  overflow-x: hidden;

}

.candidate-job-list-scroll {
  max-height: 58vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.network-list-scroll {
  max-height: 58vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.custom-modal-size .modal-dialog {
  width: 90% !important;
  margin: 3.75rem auto !important;
}


.model_forDowngrade .modal-dialog {
  max-width: 90%;
  width: 90% !important;
  margin: 3.75rem auto !important;
}

.model_forDowngrade .modal-dialog {
  width: 90% !important;
  margin: 3.75rem auto !important;
}



.model_forDowngrade .modal-dialog {
  width: 90% !important;
  margin: 3.75rem auto !important;
}

@media (min-width: 576px) {
  .model_forDowngrade {
    width: 90% !important;
  }

  .modal-dialog {
    width: 90% !important;
    margin: 3.75rem auto !important;
  }
}

/* Small devices (tablets) */
@media (min-width: 768px) {
  .model_forDowngrade .modal-dialog {
    width: 90% !important;
    margin: 3.75rem auto !important;
  }

}

/* Medium devices (laptops, desktops) */
@media (min-width: 992px) {
  .model_forDowngrade .modal-dialog {
    width: 90% !important;
    margin: 3.75rem auto !important;
  }
}

/* Large devices (large laptops, desktops) */
@media (min-width: 1200px) {
  .model_forDowngrade .modal-dialog {
    width: 90% !important;
    margin: 3.75rem auto !important;
  }

}

/* Larger devices (extra-large laptops, desktops) */
@media (min-width: 1320px) {
  .model_forDowngrade .modal-dialog {
    width: 90% !important;
    margin: 3.75rem auto !important;
  }

}

/* Larger devices (large desktops) */
@media (min-width: 1366px) {
  .model_forDowngrade .modal-dialog {
    width: 90% !important;
    margin: 3.75rem auto !important;
  }

}


.Teamclass {
  border-radius: 3px;

  .initials-list {
    list-style: none;
    margin: 5px 0px;
    padding: 0px 18px;
    border: 1px solid #f1f3f6;
    border-radius: 3px;
  }

  .initials-list li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }

  .initials-list li:last-child {
    border-bottom: none;
  }

  .checkbox-container input[type="checkbox"] {
    margin-right: 20px;
    cursor: pointer;
  }

  .circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 22px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;


  }

  .tt {
    background-color: #9b59b6;
  }

  /* Darker Purple /
    .ma { background-color: #2ecc71; } / Darker Green */
  .name {
    font-size: 15px;
    color: #333;
  }

  .company {
    font-size: 13px;
    color: #777;
  }
}

.custom-panel-footer {
  z-index: 6 !important;
  position: relative !important;
}

.selected {
  background-color: #378fe91f !important
}

.downgrade-header {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  font-size: 16px;
  border-bottom: 1px solid #d5d7da;

  >.downgrade-close-icon {
    cursor: pointer;
  }
}