<div class="hpanel">
  <div *ngIf="viewedList.length>0; else noResult;" infiniteScroll [infiniteScrollDistance]="5"
    [infiniteScrollThrottle]="1500" (scrolled)="onScrollDown()">
    <div class="panel-body sectionate pd-top-tn" *ngFor="let items of viewedList; let lastItem = last;">
      <div class="row">
        <div class="col-sm-9">
          <div class="view-card">
            <img class="img-circle" src={{items.photo}}>
            <div class="details-grid">
              <div class="view-name">
                {{items.firstName}} {{" "}} {{items.lastName}}
              </div>
              <div class="view-title">
                {{items.title}} at {{items.organisation}}
              </div>
              <div class="view-time">
                <i class="fas fa-eye"></i> <i><span>{{items.activityDate| date:"MM/dd/yyyy hh:mm:ss a":"+0000"}}</span></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 more-opt-btn-orien">
          <button class="more-opt-btn">
            <img src="assets/icon/icons8-more-96.png" alt="" srcset="">
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noResult>
    <div class="wert">
      <div class="col-md-12 mg-bt-9">
        <img style=" max-height: 9rem;" src="assets/icon/nothing_found.png" alt="">
      </div>
      <div class="col-md-12 fig">No requests received yet. </div>
    </div>
  </ng-template>
  <div *ngIf="stopscrollFlag && viewedList.length>0">
    <div class="wert">
      <div class="col-md-12 mg-bt-9">
        <app-svg-templates [svgType]="'CHECKMARK_CIRCLE'"></app-svg-templates>
      </div>
      <div class="col-md-12">
        <p class="font-16">You've reached the bottom of the page</p>
      </div>
    </div>
  </div>
</div>
