.rounded-circle:hover {
  opacity: 1;
}

.rounded-circle {
  width: 37;
  height: 37;
}

.namee {
  font-weight: 500 !important;
  font-size: 13px !important;
  position: relative;
  left: 5px;
  top: 4px;
}

.pddd {
  padding: 5px 17px;
}

.pdin {
  padding: 5px 0px;
}

.posttin {
  position: relative;
  top: 10px;
}
