 <div class="business-banner-top post-box-shadow">
  <div class="row business-details">
    <div class="col-md-2">
      <form action="" class="form-group">
        <label for="">Search Result For</label>
        <input type="text" class="form-control">
      </form>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <div>
            <h3>People</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div style="margin-top: 15px">
            <form action="">
              <input type="text" name="" id="" class="form-control">
            </form>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>











