.community-admin img {
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
  -webkit-margin-end: 4px;
  margin-inline-end: 0px;
  border-radius: 50%;

}

.panel-body {
  padding-left: 17px;
  padding-right: 17px;
}
