
.panel-body-padding-0{
    padding:0px
}

.bgcolor{
  background-color: #ffff !important;
}
.search-menu-sticky{
  position: fixed;
 }

 @media (min-width: 1200px){
  .container {
    width: 1272px;
 }
 }
 .stickkyy-template {
  position: sticky;
  top: 80px;
}

.fixed-search-menu {
  position: sticky;
  top: 189px;
}
