.community-admin img {
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
  -webkit-margin-end: 4px;
  margin-inline-end: 0px;
  border-radius: 50%;
}

.panel-body {
  padding-left: 17px;
  padding-right: 17px;
}

.community-item {
  display: flex;
  column-gap: 0.5rem;
}

.img-circle{
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  width: 36px;
  height: 36px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-clip: content-box;
  border-radius: 50%;
}
.circles {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  border: 2px solid #fff;
}
.poi {
  padding: 0px 8px
}
.oi{
  padding: 5px 0px 5px 10px;
  &:hover {
    background-color: #f1f3f6;
  }
}


.footerContainer {
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.sddx {
  width: 4rem;
  border-radius: 50%;
}

.rm {
  text-align: right;
}

.em {
  margin-top: 0px !important;
}


.font-bold-14{
  font-weight: 600;
   font-size: 14px;
}

.lkop {
  text-align: center;
  position: relative;
  top: 6rem;
}

.ksfdh920 {
  display: flex;
  margin-right: 0.9rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
  column-gap: 2.3rem;

}

.ksjksd {
  border-radius: 0px;
  margin: 1rem 0rem 1rem 2rem;
  width: 93%;
  padding: 1.6rem;
  border: 1px solid #8d8e907a;
  outline: none !important;
}

.ksjksd:focus {
    border: 1px solid #b6cae8
}
