.pading-sizes{
     text-align: center;
     margin-top: 40px;
  }
  img{
    border-radius: 50%;
  }

  .wordbreak{
    word-wrap: break-word;
    padding-left:15px;
    width:422px;
    text-align: center;
  }

