// .hpanel {
//     .panel-body{
//         padding : 0px;
//     }
// }

.community-card-content{
    // padding-left: 10px;
    // padding-right: 10px;
    // padding-bottom: 5px;
    position: relative;
    bottom: 1rem;
    min-height: 76px!important;
}

.pdd{
  padding: 0px !important;
}

.oyoyo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5.5px;
  position: relative;
  bottom: 15px;
  color: red;
  font-weight: 600;
}

.iewbdl {
  position: relative;
  left: 29px;
  bottom: 15px;
}

.iewbdlq {
  position: relative;
  left: 11px;
  bottom: 15px;
}

.zloipfhh {
  margin-left: -162px;
}

// .minheight165 {
//   min-height: 16.4rem !important;
    
// }
.msojs {
  min-height: 146px!important;
  padding-bottom: 0px!important;
}

.kotkl {
  max-height: 45px;
  min-height: 45px;
}

.pointer-hover {
  cursor: pointer;
}
.m-t-8{
  margin-top: 8px !important;
}
.iconsize{
  font-size: 21px;
}

.deactivated {
  cursor: not-allowed!important;
  filter: brightness(0.9);
}

.eyia {
  font-weight: 500;
  color: #333333!important;
}

.ywosj {
  position: relative;
  right: 1rem;
  display: flex;
  column-gap: 3px;
  align-items: center;
  justify-content: space-between;
}

.sdjfhj {
  font-weight: 600;
  text-overflow: ellipsis;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
}


.crown {
  height: 3rem;
  position: relative;
  right: 1rem;
  width: auto;
  top: 0.6rem;
  left: -2rem;
}

.img-circle {
  height: 57px;
  width: 57px;
  border-radius: 50%;
}