.margin-left{
    margin-left: 30px;
}
.m_left{
    margin-left: 329px;
}

.margin-top{
  margin-top: 28px;
  margin-left: 10rem;
}
.c{
  text-align: center;
}
.join-tribe[_ngcontent-serverApp-c2] {
  position: absolute;
  top: -130px;
}

.validation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
  font-size: initial;
}

.text-form{
  display: flex;
  flex-direction: row;
}

.text-form > input{
  margin: 0 1rem;
}

.t_c{
  color: rgb(66, 191, 248);
  text-underline-position: below;
  // padding-left: 10px;
  // padding-right: 10px;
  padding: 5px;
}

.p10{
  padding: 10px;
}

.banner{
  margin: 59px 0px 10px 35px !important;
}
.background{
  background-color: white;
}

.success-msg {
  position: relative;
  top: 220px;
}

.mr-bt-x {
  margin-bottom: 33px!important;
}


.mail-content{
  margin-top: 120px !important;
  margin-bottom: 144px !important;
   h3{
   font-size: 40px;
  }
  p{
   font-size: 20px;
  }
  .pls-note{
   font-size: 21px;
   color: #111;
   font-weight: 402px;
   font-weight: 700;
  }
}

