// .margin {
//     height: 49px;
//     border-radius: 4px;
//     margin: 7px;
// }

// hr {
//     border : 0.5px solid silver;
// }

// img {
//     border-radius: 50%;
// }

// fieldset[disabled] .date-icon {
//     pointer-events: not-allowed;
//   }

//   *.disabled {
//     cursor: not-allowed;
//   }

.error-msg{
  color: red;
}

.form-group{
  .date-icon {
      position: absolute;
      top: 10px;
      right: 24px;
      cursor: pointer;
      }
}

i {
  cursor: pointer;
}

//.content {
//    padding: 5px 128px 40px 156px;
//    min-width: 320px;
  // background-color: rgb(236, 236, 236)
  // background-color: #f7f9fa;;
// }

.normalheader{
  background-color: rgb(236, 236, 236);
  padding: 2px 128px 2px 156px;
}

.img{
  padding-left: 24px;
  padding-bottom: 24px;
}
.closebox {
  padding-right: 20px;
}

.header1{
background-color: #ececec;
padding: 6px 128px 1px 156px;
}

// .required-field::before {
//   content: "*";
//   color: red;
//   float: right
// }

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.hpanel{
  .panel-heading{
    .panel-tools{
      .btn-group{
          .edit-pencil{
              border-radius: 50%;
              border: none;
              color: transparent;
              line-height: 25px;
              &:hover{
                  background-color:#c6ccdd
              }
              &:active{
                  background-color: #b6bfd6;
              }
          }
      }
    }
  }
}

.editBG{
  cursor: pointer;
  color:black;
  //color: #63cfbe !important;
  font-size: 15px;

}
