<div class="container helpContainer" style="width: 100%;">
  <app-langding-page-nav-bar></app-langding-page-nav-bar>
  <div id="wrappers">
    <div class="normalheader">
      <div class="hpanel">
        <div class="panel-body mat-changes-for-tab border-radius-top-left-right-6">
          <h2 class="font-light m-b-xs font-for-help"> Welcome! How can we help? </h2>

          <div class="search-container" style="display: flex; align-items: center;">
            <mat-form-field appearance="fill">
              <span class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
              <input class="search-box" matInput [formControl]="searchControl"
                 placeholder="Search...">
             </mat-form-field>

            <button class="btn primary-btn searh-btn" (click)="searchFilter()"> Search  </button>
            <button class="btn primary-btn searh-btn" (click)="clearfilter()"> Clear </button>

          </div>
          <mat-tab-group (selectedTabChange)="selectTab($event)" [(selectedIndex)]="selectedIndex">
            <mat-tab label="{{tab}}" *ngFor="let tab of tabs">
              <ng-template matTabContent>
                <div class="col-sm-12">

                  <ng-container *ngIf="tab!='All' && !loadAPIcall">
                    <div class="video-gallery col-sm-3" (click)="openVideo(video, templateVideo)"
                      *ngFor="let video of helpDetails;  let i = index">
                      <div class="video-card">
                        <div class="video-thumbnail">
                          <video #videoElements style="width: 100%; height: 130px;">
                            <source [src]="video?.answer" type="video/mp4">
                            Your browser does not support the video tag
                          </video>
                          <button class="play-btn"></button>
                        </div>
                        <div class="video-info">
                          <p class="videotimeing">{{video?.duration}}</p>
                          <p class="video-title">{{video?.question}}</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngFor="let item of 5 | times; let i = index">
                    <app-common-skeleton *ngIf="loadAPIcall" [NameOftheScreen]="'helpModule'"></app-common-skeleton>
                  </ng-container>


                </div>

              </ng-template>
            </mat-tab>
          </mat-tab-group>
          <div class="cantactus">
            <h4 class="font-light m-b-xs"> Can't find what you are looking for? </h4>
            <p class="font-light m-b-xs"> Reach out with question or feedback anytime! </p>
            <button class="btn primary-btn " (click)="ContactAdmin()"> Contact US </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="video-container" *ngIf="isVideoPaused">
  <div class="row">
    <h3 class="title-videoheader" >{{seletedVideo?.question}}</h3>
    <video autoplay #videoPlayernew controls id="videofile">
      <source [src]="seletedVideo?.answer" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <button class="close-btn" (click)="closeModel()">X</button>
 </div>
</div>



<app-message-widget *ngIf="messagemodelflag" (closeMessageModel)="closeMessage($event)" style="z-index: -1;"
  [messageDataPass]="messageData"> </app-message-widget>
