<div class="row margin-0">
  <!-- [class.sticky-nav1]="landingsidesticky1"
  #landingside1 -->
  <div class="col-md-12 padding-left-0 padding-right-0 margin-bottom-5 sticky-nav">
    <div class="hpanel">
      <div class="mainNav panel-body border-radius-top-left-right-6">
        <!-- <h4>Team : <span> {{networklist.length>0?networklist.length:"0"}}</span></h4> -->
        <div *ngIf="allNetwork" class="navIteam">
          <h4>All Network<span *ngIf="networklist?.length>1">s </span> :
            <span>{{networkLength}} </span>
            <!-- {{networklist?.length>0?networklist?.length:"0"}} -->
          </h4>
        </div>
        <div *ngIf="requestNetwork" class="navIteam">
          <h4>Active Network<span *ngIf="networklist?.length>1">s </span> :
            <span>{{networkLength}} </span>
          </h4>
        </div>
        <div *ngIf="activeNetwork" class="navIteam">
          <h4>Request<span *ngIf="networklist?.length>1">s </span> Received :
            <span>{{networkLength}} </span>
          </h4>
        </div>


        <div class="navIteam">
        </div>
        <div class="navIteam">
        </div>
        <div class="navIteam" >
          <div class="input-group f-l">
            <!-- <input type="text" class="form-control input-sm" [(ngModel)]="networkSearch" placeholder="Search network"
              aria-label="Amount (to the nearest dollar)" (keyup)="keyupdata($event)"
              (keyup.enter)="onsearch(networkSearch)" name="searchadmin" id="searchadmin" />
            <span class="input-group-addon" (click)="onsearch(networkSearch)" id="my_btn"><i
                class="pe-7s-search"></i></span> -->

                <input type="text" class="form-control input-sm" [(ngModel)]="searchKey" placeholder="Search Network"
              aria-label="Amount (to the nearest dollar)" name="searchadmin" id="searchadmin"
              style="margin-inline-end: 311px;"/>
            <span class="dummyBtn"></span>
          </div>
        </div>
        <div class="navIteam connectionbtn">
          <button class="btn btn-primary btn-sm displayflex"  *ngIf="userType != 'JOB_SEEKER'"  (click)="openModalWithComponent()">
            <span class="mr-5"> </span> Create Network
          </button>
        </div>
        <!-- <div class="navIteam">
          <div class="btn-group" dropdown>
            <button style="height: 30px;" type="button" (click)="querynetwork('All')" class="btn btn-primary  btn-sm">{{btnnameshow}}</button>
            <button type="button" class="btn btn-primary  btn-sm  dropdown-toggle" dropdownToggle
              data-toggle="dropdown">
              <span><i class="pe-7s-filter"></i></span>
            </button>
            <ul class="dropdown-menu dropmenu" *dropdownMenu role="menu">
              <li role="menuitem" (click)="querynetwork('All')"><a class="dropdown-item">All Network</a>
              </li>
              <li role="menuitem" (click)="querynetwork('ACTIVE')"><a class="dropdown-item">Active Network</a>
              </li>
              <li role="menuitem" (click)="querynetwork('REQUEST_SENT')"><a class="dropdown-item">Requests Received</a>
              </li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>


  <div class="col-sm-70 col-md-70 col-lg-70 padding-left-0 padding-right-0">
    <app-nodata-found [title]="noDatafound" *ngIf="networklist?.length === 0 && showNoDatafound && !activeNetwork">
    </app-nodata-found>
    <app-nodata-found [title]="noDataInReqReceived" *ngIf="networklist?.length === 0 && showNoDatafound && activeNetwork">
    </app-nodata-found>


    <ng-container *ngIf="loadAPIcall">
      <div class="col-md-6  col-lg-4 padding-left-0 padding-right-5" style="margin-bottom: 5px;"
        *ngFor="let n of [1, 2, 3, 4, 5, 6]">
        <app-common-skeleton [NameOftheScreen]="'networkcard'"></app-common-skeleton>
      </div>
    </ng-container>

    <!-- Show network cards when data is loaded -->
    <ng-container *ngIf="!loadAPIcall && networklist?.length > 0">
      <div class="col-md-6 col-lg-4 padding-left-0 padding-right-5"
        *ngFor="let data of sort_by_keyuserid(networklist, 'index') | customFilter:{networkName: searchKey}:false; let i = index">
        <app-network-card (onSubmit)="onSubmit($event)" [userDataInput]="data"></app-network-card>
      </div>
    </ng-container>
  </div>


  <div class="col-sm-30 col-md-30 col-lg-30 padding-right-0 sticky-widget">
    <div class="">
      <app-common-widget [page]="'NETWORK_PAGE'" [inputData]="'NETWORK'" [userType]="'ALL'"></app-common-widget>
    </div>
  </div>

</div>
