.multi-bg-exampl {
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-headerphoto {
  background: #49a7a9;
  color: #fff;

  .close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #fff;
    opacity: 1;

    &:hover {
      opacity: 0.5;
    }
  }
}

// @keyframes highlightSecondary {
//   0% {
//     border: 2px solid red;
//   }

//   100% {
//     border: 2px solid #d8dadd;
//   }
// }

// .highlightSecondary {
//   animation: highlightSecondary 10s;
// }


.note-editable:has(p)>img {
  display: none;
}

.banner-img {
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #9aa8db;
}

.profile-name {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin-bottom: 3px;
}

.profile-website {
  text-transform: lowercase !important;
  font-size: 13px;
}

.profile-tag {
  font-size: 13px;
  margin-bottom: 3px;
}

.profile-others {
  font-size: 13px;
  margin-bottom: 3px;
}

.ellipse2 {
  text-overflow: ellipsis;
  width: 25rem;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0px;
  max-width: 214px;
}

.mt-8px {
  margin-top: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.m-r-18 {
  margin-right: 18px;
}

.m-r-10 {
  margin-right: 10px;
}

.ellipse1 {
  text-overflow: ellipsis;
  width: 25rem;
  overflow: hidden;
  white-space: nowrap;
}

.hpanel-heading {
  background-color: #49a7a9 !important;
  color: #fff;
}

.mr-fn {
  margin-right: 10px;
  font-weight: 600;
}


.smxv {
  bottom: 0.3rem;
  right: 0.8rem;
}

.banner-profile-image {
  position: absolute;
  bottom: -15px;
  background: #fff;
  border-radius: 9px;
  border: none;
  padding: 21px;
  box-shadow: 0px 2px 6px #bfc3ca;

}

.banner-profile-image1 {
  position: absolute;
  bottom: -15px;
  background: #fff;
  border-radius: 9px;
  border: none;
  padding: 21px;
  box-shadow: 0px 2px 6px #bfc3ca;

}

.kjp {
  position: relative;
  top: 0.2rem;
  left: -2.6rem;

}

.skpax {
  position: relative;
  left: 0rem;
}

.banner-profile-image:hover {
  filter: brightness(0.8);
  cursor: pointer;
}

.banr-detail-pos {
  position: relative;
  top: 21px;
  left: 21px;
}

.sssld {
  position: absolute;
  font-size: 17px;
  top: 3.5rem;
  right: 1.5rem;
  color: #fff;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  cursor: pointer;
}

// .required-field::before {
//   content: "*";
//   color: #c3002f;
//   float: right
// }

.ixym {
  margin: 0rem 1rem;
}

.edit-pencil {
  border-radius: 50%;
  border: none;
  color: transparent;
  line-height: 25px;

  &:hover {
    background-color: #c6ccdd;
  }

  &:active {
    background-color: #b6bfd6;
  }
}

.rc {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
}

.iuiy1 {
  display: flex;
  float: right;
  column-gap: 0.9rem;
  position: relative;
  top: 6.5rem;
}

.banner-title-details {
  display: flex;
  column-gap: 5px;

  p {
    width: max-content !important;
  }
}

.business-details1 {
  padding: 10px;
  background: #fff;
  min-height: 12rem;

  .business-name {
    //  text-transform: capitalize;
    font-size: 18px;
    color: #000;
    margin-bottom: 3px;
  }

  .business-tag {
    //  text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 3px;
  }

  .business-others {
    // text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .website {
    text-transform: lowercase !important;
    font-size: 14px;
  }
}

.font-size-50 {
  font-size: 50px;
  border-radius: 50%;
  //padding: 9px 0px;
  padding: 23px 0px;
  text-align: center;
}

.prof-logo {
  font-size: 50px;
  border-radius: 50%;
  padding: 9px 0px;

  text-align: center;
}