
.white{
  background: #fff;
}
.width-200{
  width: 200px;
}
.select-box{
  float: right;
    margin-top: -4px;
}

.down-arrow{
  padding: 10px;
  font-size: 16px;
  //color: black;
}

.p-15{
  padding: 15px;
  text-align: center;
}

.card-header-{
  // background-color: #ebebeb;
  // color: #333;
  font-size: 17px;
 }
.td-center{
  text-align: center;
  cursor: pointer;
  .span{
    text-align: initial !important;
  }
 }
 .th-center{
  text-align: center;
  cursor: pointer;
  font-weight:800;
 }

.f-w-800{
  font-weight: 800;
}
.b-color{
  color: black;
}
.f-r{
  float: right;
}

hr.new1 {
  border-top: 1px solid black;
  margin-top: -4px;
}

.f-w-100{
  font-weight: 100;
}

.m-r-10{
  margin-right: 10px;
}
.img-size{
  height:16px;width:17px;
}
table {
  width: 100%;

  th, td {
      width: 20%;
  }
}
.feau-header{

  font-size:21px;
}
.gray-c{
  color: #a49e9e;
}

.tc{
  text-align: center;
}


// .m-10{
//   margin-left: 10px;
//   margin-right: 10px;
// }
