.b-g-clr {
  background-color: #fff;
}


.m-t-30 {
  margin-top: 30px;
}

.plsko-op {
  padding: 5px;
}

.flxxy {
  display: flex;
}

:host {

  .candidateJobContent{
    display: flex;
    flex-direction: column;
    // gap: 1rem;
  }

}


.flxxy1 {
  padding-left: 0px;
  display: flex;
}

.line-tag{
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top: 1px solid #eee;
}

.ui-align-role{
  position: absolute;
  left: 54%;
  top: 26px;
  /* font-size: 16px; */
  height: 15px;
  font-size: 9px;
  margin-left: 32px;
  width: 21px;
  text-align: center;
}
.check-ui{
  position: absolute;
  // top: -18px;
  left: 0;
  height: 55px;
  width: 17px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.empty-message-container {
  display: grid;
  row-gap: 33px;
  justify-content: center;
  justify-items: center;
  position: relative;
  top: 50px;


  img {
    vertical-align: middle;
    height: 165px;
  }

  .empty-message {
    font-weight: 400px;
    font-size: 13px;
  }
}

.report{
  height: 19px;
  width: 59px;
  text-align: center;
  cursor: pointer;
}

.w-20{
  width: 85px !important;
}

.blue-color {
  color: #1272f0;
}



.stud {
  display: grid;
  position: relative;
  left: 21px;
  row-gap: 2px;
}

.name-scsss {
  font-weight: 600;
  text-overflow: ellipsis;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.no-mg {
  margin: 0px !important;
}

.lqp {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.sdjl {
  padding-right: 0px;
  padding-left: 27px;
}

.uy-oi {
  margin: 0px 5px 10px 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.uy-oii {
  margin: 0px 5px;
  padding: 5px 5px 25px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rcrtr-lbl {
  font-weight: 500;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 0px 4px 2px 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 15px;
  font-size: 12px;
  cursor: context-menu;
}

.pdnmj {
  padding: 5px 20px 0px 5px;
}

.sectionate {
  margin-bottom: 5px;
  padding: 0px!important;
}

.flxxx {
  display: flex;
  column-gap: 4px;
  cursor: context-menu;
}

.elpss {
  overflow: hidden;
  overflow: ellipsis;
  white-space: nowrap;
  color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 116px;
  text-overflow: ellipsis;
}

.fig {
  font-weight: 500;
  position: relative;
  top: 12px;
}

.uy-tr1 {
  display: flex;
  height: 28px;
}

.fig1 {
  font-weight: 500;
  position: relative;
  top: 20px;
}

.wert {
  position: relative;
  text-align: center;
  top: 5rem;
}

.img-circle {
  width: 38px !important;
  height: 38px !important;
  margin-left: auto;
  margin-right: auto;
}

.sa-as {
  display: flex;
  column-gap: 3px;
  align-items: center;
}

.font-10z {
  font-size: 8px;
}


.icon-size {
  width: 15px;
}

.pointer {
  cursor: pointer;
}

.m-t-10 {
  margin-top: 10px;
}

.skeleton {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ddd !important;
  color: transparent !important;
  border-color: #1e2226 !important;
  user-select: none;
  cursor: default;
}

.skeleton img {
  opacity: 0;
}

.jk-op {
  display: grid;
  // column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
}

.bj-io {
  display: flex !important;
  column-gap: 3px;
}

.jsdhgf {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  text-overflow: ellipsis;
  background-color: #fff;
  overflow: hidden;
   white-space: nowrap;
}

.sm-sz11 {
  height: 20px;
}

.ssm {
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.openop {
  color: green;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: 3px;
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.ioxlp {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
}

.uy-tr {
  display: -webkit-box;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: -6px;
}

.uy-tr>div {
  overflow: hidden;
  overflow: ellipsis;
  white-space: nowrap;
  width: max-content;
  text-overflow: ellipsis;
}

.img-width-dot-icon {
  max-height: 25px;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.m-lm18 {
  margin-left: -18px !important;
}

.f-w-b {
  font-weight: bold;
}

.bg-tags {
  background: #eee;
}

.bg-heart {
  color: red;
}
.interactive-elements{
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px 0px 7px 0px !important;
  margin-left: -7px !important;
}


.social-profileCustom
{
  display: flex;
  flex-direction: column;
  align-items: center;
  .media-body {
    width: 100%;
    text-align: center;
    .userCardList{
      text-align: center;
      justify-content: center;
      margin-top: 10px;
    }
    h6{
      margin: 3px 0px;
    }
}

}
.view-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;

  img {
    height: 57px;
  }

  .details-grid {
    display: grid;

    .view-name {
      font-weight: 500;
    }

    .view-title {
      font-weight: 400;
    }
    .view-time {
      font-size: 10px;
      display: flex;
      column-gap: 5px;
      align-items: center;
    }
  }
}


.fig {
  font-weight: 500;
  position: relative;
  top: 12px;
}


.wert {
  position: relative;
  text-align: center;
  top: 5rem;
}

.dropdox {

  padding: 10px;
  width: 365px;
  height: 119px;
  text-align: center;
  display: grid;
  border: dashed 1px #20384b;
  margin: 0 auto;
  border-radius: 7px;

  input {
    opacity: 0;
    // position: absolute;
    // z-index: 2;
    // width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
  }
}

.files-list {
  max-width: fit-content;
  margin-top: 1.5rem;

  .single-file {

    .name {
      font-size: 12px;
      font-weight: 500;
      color: #353f4a;
      margin: 4px;
      cursor: pointer;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%;
      text-align: center;
      display: inline-flex;
      line-height: 1;
      background: #cbdaf1;
      padding: 3px 5px;
      margin: 20px 3px;
      border-radius: 3px;
    }
  }
}


// @media (min-width: 768px)
.modal-dialog {
  width: 330px !important;
  margin: 30px auto;
}
.modal-header {
   padding: 15px 15px 15px 15px !important;
    /* background: white !important; */
    border-radius: 3px;
    background: #49a7a9;
    color: #fff;
  }
.modal-body {
padding: 0px 15px !important;
}

.modal-footer {
background: #f7f9fa;
border-radius: 3px !important;
padding: 4px;
text-align: center;
}

.modal-title {
font-size: 19px;
font-weight: 300;
}
input[type="radio"], input[type="checkbox"] {
margin: 3px 6px 0;
float: left;
line-height: normal;
}


.top-eye{
  margin: 4px 0px;
  padding:0 4px;
}

.tiimes {
  font-size: 20px;
  // line-height: 0px;
  cursor: pointer;
  position: relative;
  top: -1px;
}

.f-r{
  display: -webkit-box;
  display: flex;
  width: 122px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
  margin-inline-start: auto;
  padding: 6px;
}

#aad{
  color: #5f5d5d;
    cursor: pointer;
    height: 29px;
    border-radius: 2.5px;

    padding: 16px 45px 35px 42px;
    // border: dashed 3px #1f2c38;
    border: dashed 1px #63cfbe;

}


.candDetails {
  width: 45% !important;
  margin: 0;
  padding: 0;
 }

 .m-t-m30px{
  margin-top: -30px;
 }
 .verticalLine {
  //height: 300px;
  border-left: 1px solid #000900;
  //position: absolute;
  //left: 50%;
}
.line-tag{
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top: 1px solid #eee;
}

.starightrow{
     display: -webkit-box;
     -webkit-box-align: center;
     align-items: center;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     flex-direction: row;
     flex-wrap: nowrap;
     padding: 0px 0px 7px 0px;
     margin-left: -7px;

}
.arrowclassreq{
  color: white;
 // position: absolute;
  //right: 0;
 //margin-right: 10px;

}



