<div class="bg-2">

  <!-- <link rel="stylesheet" type="text/css" href="src/assets/newassets/bootstrap/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="src/assets/newassets/custom.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <nav>
    <img id="bigface" src="assets/icon/gigsumologo_bigface.png" class="img-fluid logo app-icon-new-log"  >
  </nav>

  <section class="registration-form bg-2 mt-md-5" >
    <div class="container">
      <div class="row align-items-center" style="margin-bottom: 50px;">
        <div class="col-md-3 py-5  left-img">
          <img src="../../../assets/newassets/images/set-password.png" class="img-fluid mt-2 mt-md-0">
        </div>
        <div class="col-md-5 pb-3 py-md-5" style="margin-left: 40px;">
          <div class="form-box">
            <h3 id="f-42" class="f-42 form-title fw-bold">Change your password</h3>

            <form class="mt-5" id="newPasswordDiv" [formGroup]="setpassword">
              <div class="row">
                <div class="col-md-12 my-3">
                  <input type="password" class="form-control cm-input" placeholder="Enter Old Password" formControlName="oldPassword">
                  <div *ngIf="!sign2.oldPassword.errors?.required && worngPwd">
                    <span style="color: red">Sorry! Your old password was incorrect!</span>
                  </div>
                  <div class="error-msg" *ngIf="sign2.oldPassword.invalid && (sign2.oldPassword.dirty || sign2.oldPassword.touched)">
                    <div *ngIf="sign2.oldPassword.errors?.required">
                        Old password is required
                    </div>
                </div>
                </div>
                <div class="col-md-12 my-3">
                  <div class="position-relative" id="show_hide_password_1">
                    <a (click)="showHidePass(1);"><i class="bi bi-eye-slash-fill view-password"></i></a>
                    <input type="password"   formControlName="newpassword" class="form-control cm-input"
                      (keypress)="keyDown($event)" trim="blur" placeholder="Create New Password" id="passInput1"
                      (keyup)="onCheckValid()">
                      <div class="error-msg" *ngIf="sign2.newpassword.invalid && (sign2.newpassword.dirty || sign2.newpassword.touched)">
                          <div *ngIf="sign2.newpassword.errors?.required">
                              New password is required
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-12 my-3">
                  <div class="position-relative" id="show_hide_password_2">
                    <a (click)="showHidePass(2);"><i class="bi bi-eye-slash-fill view-password"></i></a>
                    <input type="password"  (keypress)="keyDown($event)" trim="blur" formControlName="confirmpassword"
                      class="form-control cm-input" placeholder="Confirm New Password" id="passInput2"
                      (keyup)="checkPassword()">
                      <div class="error-msg" *ngIf="sign2.confirmpassword.invalid && (sign2.confirmpassword.dirty || sign2.confirmpassword.touched)">
                        <div *ngIf="sign2.confirmpassword.errors?.required">
                            Confirm password is required
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="my-3">
                <a (click)="updatePassword()" class="btn cm-btn-2">Change Password</a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 pb-3 py-md-5" style="display: contents;">
          <div id="message">
            <h3 class="f-20 form-title fw-bold">Your password must have</h3>
            <p id="length" class="invalid mb-0">8 or more alphanumeric <b>characters</b></p>
            <p id="capital" class="invalid mb-0">At least one <b>uppercase</b> letter</p>
            <p id="letter" class="invalid mb-0">At least one <b>lowercase</b> letter</p>
            <p id="number" class="invalid mb-0">At least one <b>number</b></p>
            <p id="specialCharacter" class="invalid mb-0">At least one <b>special character</b></p>
            <p id="passwordMatch" class="invalid mb-0">New and verify <b>password match</b></p>

            <small class="help-block" id="password-text"></small>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
