<div class="hpanel margin-bottom-5">
  <div class="panel-heading hbuilt wig-c">
    {{ headerTitle }}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <ul class="profile-list">
          <ng-container *ngFor="let item of peopelData | slice:0:3; let i=index">
            <app-common-profile-info>
              <ng-container headline1>{{item.firstname}}</ng-container>
              <ng-container headline2>{{item.firstname}}</ng-container>
              <ng-container btn><button class="btn-primary btn btn-xs">
                <i class="fas fa-plus" aria-hidden="true" (click)="connect(item)"></i> Connect   </button></ng-container>
            </app-common-profile-info>
          </ng-container>
        </ul>
        <p style="float: right;" *ngIf="peopelData.length > 3">
          <u><a >...More</a></u>
        </p>
      </div>
    </div>
  </div>
</div>
