.sidebar-top {
  position: inherit !important;

  .app-sidebar {
    .ng-sidebar--left {
      @include transition(0.4s, cubic-bezier(.25, .8, .25, 1));
      top: 56px;
      background-color: $primary-fg;
      width: $side-bar-width;
      box-shadow: 0 1px 8px rgba(68, 54, 54, 0.3);
      z-index: 1;

      .menu-content {

        .multilevel-menu {
          .mat-expansion-panel {
            box-shadow: none;
            border-bottom: 1px solid #d3d3d3;
            border-radius: 0;

            mat-expansion-panel-header {
              .mat-content {
                flex-direction: row-reverse;

                mat-panel-title {
                  font-family: $font-family;
                  font-size: $font-size + 1;
                  font-weight: $font-weight + 100;
                }

                mat-icon {
                  margin-right: 16px;
                }
              }
            }

            .mat-expansion-panel-content {
              .mat-expansion-panel-body {
                padding: 0;
                background-color: #f7f7f7;

                .menu {
                  //border-bottom: 1px solid #d3d3d3;
                  font-family: $font-family !important;

                  button {
                    width: 100%;
                    line-height: 50px;
                    text-align: left;
                    border-radius: 0;

                    .mat-button-wrapper {
                      padding: 0 24px 16px;
                    }

                    &.cdk-focused {
                      outline: none;
                    }

                    mat-icon {
                      margin-right: 12px;
                    }
                  }

                  &.active {
                    button {
                      color: $primary-bg;

                      mat-icon {
                        color: $primary-bg;
                      }
                    }
                  }

                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }


      }

      &.ng-sidebar--closed {
        width: 50px;

        .menu-content {

          mat-accordion {
            mat-expansion-panel {
              mat-expansion-panel-header {
                padding: 0;

                .mat-content {
                  mat-icon {
                    display: block;
                  }

                  mat-panel-title {
                    display: none;
                  }
                }

                .mat-expansion-indicator {
                  display: none;
                }
              }
            }
          }

          .menu {
            button {
              text-align: center;
              padding: 0 10px;
              min-width: 50px;

              .mat-button-wrapper {
                mat-icon {
                  margin-right: 0px;
                }

                span {
                  display: none;
                }
              }
            }
          }
        }
      }

    }
  }
}