.app-table.table th,
.app-table.table td {
    padding: 0.6rem;
    border-bottom: 1.8px solid #dee2e6;
    border-top: none;
    text-align: center;
    font-size: 12.5px;
    vertical-align: middle;

    .table-edit {
        padding-right: 20px;
        font-size: 17px;
        color: #007bff;
        cursor: pointer;

        i {
            font-size: 20px;
        }
    }

    .table-add {
        font-size: 17px;
        cursor: pointer;
        color: #2bb123;

        i {
            font-size: 20px;
        }
    }


    .table-delete {
        font-size: 17px;
        color: #fa171d;
        cursor: pointer;

        i {
            font-size: 20px;
        }
    }
}