.main {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.paddFotter {
  padding: 5px !important;
}

.discol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mt-10 {
  margin-top: 5px;
}
.red {
  color: #c3002f;
  font-size: 12px;
}
.required:after {
  content: " *";
  color: #c3002f;
}

.close-btn-btn {
  position: relative;
  bottom: 20px;
  color: white;
  font-weight: 500;
  position: relative;
  bottom: 20px;
}
.close-model {
  font-size: 27px;
  margin-right: 4px;
}
.color {
  background-color: #49a7a9;
}
.canbtn {
  margin-right: 5px;
  //margin-bottom: 10px;
}
.subbtn {
  margin-right: 19px;
  margin-bottom: 10px;
}
.btn-pri {
  background-color: #63cfbe;
}

.m-r-6 {
  margin-right: 6px;
}
.m-r-20 {
  margin-right: 20px;
}
.img-show-hide {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-right: 9px;
}
.closeIcon {
  font-size: 24px;
  color: white;
}
.HeaderStyle {
  font-size: 17px;
  color: white;
}
.top-12 {
  position: relative;
  top: 12px;
}