.btn-left {
  float: right;
}

.searchBar {
  width: 60%;
  margin-top: 2rem;
}

.nav-right {
  float: right !important;
  margin-right: 20px;
  margin-top: 1rem;
}

.photo {
  margin-top: 5px;
  width: 56%;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.sticky-widget-freelancer {
  position: sticky;
  top: -1660px;
  bottom: 0px;
  -webkit-transition: all 2scubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.sticky-widget-other-users {
  position: sticky;
  top: -988px;
  bottom: 0px;
  -webkit-transition: all 2scubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}


.stickyPos {
  position: sticky;
  position: -webkit-sticky;
  // bottom: 62px;
  // bottom: 0px;
}

.profile-picture {
  a {
    &:visited {
      color: #6a6c6f;
    }

    .img-circle.landingPF {
      width: 75px;
      height: 75px;
      object-fit: cover;
    }
  }

  .customCity {
    font-size: 11px;
  }

  p {
    font-size: 12px;
    margin-top: 5px;
  }

  .linkedIn-color {
    background-color: #0077b5;
    color: white;
  }

  .twitter-color {
    background-color: rgba(29, 161, 242, 1);
    color: white;
  }

  .fa {
    line-height: 1.2;
    margin-right: 5px;
  }

  .text-capitalize {
    text-transform: capitalize;
  }
}

.m-b-0 {
  margin-bottom: 0;
}

.custom-panel {
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-bottom: 15px;

    li {
      padding: 5px 10px 5px 30px;
      color: #6a6c6f;
      text-transform: none;
      font-weight: 400;
      // text-transform: capitalize;
    }
  }
  &.tagsCustom {
    padding: 10px 15px;
    ul {
      li {
        padding: 0em;
        font-size: 11px;
      }
    }
  }
}
.border-grey {
  border-bottom: 1px solid #eee;
}
.padding-add {
  padding: 4px;
}

.card-margin {
  margin-right: -20px !important;
  margin-left: -5px !important;
}

.center-card {
  margin-right: -18px !important;
}

.rowWidth {
  width: 100% !important;
}

.showmore1 {
  // line-height: 16px;
  // height: 64px;
  overflow: hidden;
}

.show1 {
  overflow: visible;
  height: auto;
}

.showmoreTag1 {
  color: #007eff;
  float: right;
}

.fullPanel {
  margin-bottom: 200%;
}
.fullPanelLeft {
  margin-bottom: 123%;
}

.break-word {
  word-wrap: break-word;
  word-break: break-word;
}

.show {
  overflow: visible;
  height: auto;
}
.tooltip-inner {
  white-space: pre-wrap;
}

.data-ellipse {
  width: 116%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p {
  text-align: center;
  word-wrap: break-word;
  justify-content: center;
  display: flex;
  align-items: center;
}

.m-t-18 {
  margin-top: 18px;
}
.d-flex{
  display: flex !important;
  justify-content: center;
  align-items: center;
}
