<!-- <div>
  <div class="register-container">
    <div class="row">
      <div class="col-md-12">
        <div class="hpanel">
          <div class="text-center m-b-md">
            <img class="app-logo" src="assets/images/CareOnline.jpeg" width="35%">
          </div>
          <div class="panel-body">
            <form [formGroup]="forgotPasswordAppUser">
              <div class="row">
                <h4>Forgot your Password ?</h4>
                <h6>Enter the email address you used to register with CareOnline</h6>
                <div class="form-group col-lg-12">
                  <label>Email</label>
                  <input type="text" formControlName="email"  value="" id="" class="form-control" name="">
                </div>
                <div class="form-group col-lg-12">
                  <label>Question</label>
                  <input type="text" formControlName="question"  value="" id="" class="form-control" name="">
                </div>
                <div class="form-group col-lg-12">
                  <label>Answer</label>
                  <input type="text" formControlName="question"  value="" id="" class="form-control" name="">
                </div>
                <div class="form-group col-lg-12">
                  <button class="btn btn-success btn-block" type="submit">Send</button>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-md-12 text-center">
                <strong>New to CareOnline?</strong> <a>Sign Up Free</a>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<app-header></app-header>
<ngx-spinner></ngx-spinner>
<div class="marge_top">

  <div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
              <img class="app-logo" src="assets/images/CareOnline.jpeg" width="50%">
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form [formGroup]="setpassword" (Submit)="SetPasswordset()">
                            <div class="row">
                              <div class="form-group col-lg-6">
                                <div class="row">
                                  <div class="form-group col-lg-12">
                                    <label>Email</label>
                                    <input type="text" formControlName="email"  value="" id="" class="form-control" name="" [attr.disabled]="true">
                                  </div>
                                  <div class="form-group col-lg-12">
                                      <label>Password</label>
                                      <input type="password" formControlName="pwd" onkeydown="keyDown(event)"  value="" id="" class="form-control" name="">
                                      <!-- <app-password-strength [passwordToCheck]="setpassword.value.pwd"></app-password-strength> -->
                                  </div>
                                  <div class="form-group col-lg-12">
                                      <label>Confirm Password</label>
                                      <input type="password" formControlName="cpwd"   onkeydown="keyDown(event)"  value="" id="" class="form-control" name="">
                                      <label class="text-danger" *ngIf="setpassword.controls['cpwd'].hasError('NoPassswordMatch')" >
                                        Password do not match
                                      </label>
                                  </div>
                                </div>
                              </div>
                              <div class="form-group col-lg-6">
                                <div class="hpanel">
                                  <div class="panel-body">
                                    <label [ngClass]="setpassword.controls['pwd'].hasError('required') ||
                                    setpassword.controls['pwd'].hasError('minlength')  ? 'text-danger' : 'text-success'" >
                                      <i class="material-icons">
                                        {{ setpassword.controls['pwd'].hasError('required') ||
                                        setpassword.controls['pwd'].hasError('minlength') ? 'cancel' :
                                        'check_circle' }}
                                      </i>
                                     8 or more alphanumeric characters
                                    </label>

                                    <label class="col" [ngClass]="setpassword.controls['pwd'].hasError('required') ||
                                    setpassword.controls['pwd'].hasError('hasNumber')  ? 'text-danger' : 'text-success'" >
                                      <i class="material-icons">
                                        {{ setpassword.controls['pwd'].hasError('required') ||
                                        setpassword.controls['pwd'].hasError('hasNumber') ? 'cancel' :
                                        'check_circle' }}
                                      </i>
                                      At least one number
                                    </label>
                                     <br>
                                    <label class="col" [ngClass]="setpassword.controls['pwd'].hasError('required') ||
                                    setpassword.controls['pwd'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                      <i class="material-icons">
                                        {{ setpassword.controls['pwd'].hasError('required') ||
                                        setpassword.controls['pwd'].hasError('hasCapitalCase') ? 'cancel' :
                                        'check_circle' }}
                                      </i>
                                      At least one uppercase letter
                                    </label>

                                    <label class="col" [ngClass]="setpassword.controls['pwd'].hasError('required') ||
                                    setpassword.controls['pwd'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                      <i class="material-icons">
                                        {{ setpassword.controls['pwd'].hasError('required') ||
                                        setpassword.controls['pwd'].hasError('hasSmallCase') ? 'cancel' :
                                        'check_circle' }}
                                      </i>
                                      At least one lowercase letter
                                    </label>

                                    <label  class="col" [ngClass]="setpassword.controls['pwd'].hasError('required') ||
                                    setpassword.controls['pwd'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'" >
                                      <i class="material-icons">
                                        {{ setpassword.controls['pwd'].hasError('required') ||
                                        setpassword.controls['pwd'].hasError('hasSpecialCharacters') ? 'cancel' :
                                        'check_circle' }}
                                      </i>
                                      At least one special character
                                    </label>
                                  </div>
                                  <app-password-strength [passwordToCheck]="setpassword.value.pwd"></app-password-strength>
                                </div>
                              </div>

                            </div>
                            <div class="text-center">
                                <button class="btn btn-success"  style="margin-right: 1rem;" type="submit" [disabled]="!setpassword.valid"
                                  [routerLink]="['/login']" routerLinkActive="router-link-active" >Save</button>

                                 <!-- <button class="btn btn-success"   *ngIf="resetassflag" style="margin-right: 1rem;" type="submit" [disabled]="!setpassword.valid"
                                 (click)="UserType.show()" >Save</button> -->



                                <button class="btn btn-default" (click)="onReset()"> Cancel</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
