

.margin-left{
    margin-left: 10px;
}

.navBG{
    background-color: rgba(57, 12, 221, 0);
}

ul{
    list-style-type: none;
}
ul li{
    text-align: left;
}
.image_align{
    width:100%;
  }

  /* styles.css */
.joyride-step__header {
    background-color: #34568B;
    color: white;
  }
  
  .joyride-step__body {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .joyride-step__footer {
    text-align: right;
    margin-top: 10px;
  }
  



