.mt-8px{
  margin-top: 8px;
  display: flex;
  column-gap: 4px;
}
.font-12s{
  font-size: 12px;
}

.font-15s{
  font-size: 15px;
}


.mr-10{
  margin-left: 10px;
}
//thiru
.mar-10{
  margin-right: 10px;
}
.svg-background-community {
  background: #35c9e2;
    padding: 22px 27px;
    width: 92px;
    height: 92px;
}
.banner-cls{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 40%;
}

.fn-18 {
  font-size: 18px;
}


.ellipse1 {
  text-overflow: ellipsis !important;
  width: 36rem !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  word-wrap: break-word;
}

.ergm {
  line-height: 25px;
}

.qwc {
  display: inline-flex;
}

.bus-hov {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #1a0dab;
  }
}
