<div class="hpanel  contact-panel " style="margin-bottom: 0px!important;" *ngIf="ready">
  <div class="panel-body cp jsoh border-radius-top-left-right-6 border-radius-bottom-left-right-0" >
    <div class="row">
      <div class="col-sm-4">
        <div *ngIf="user.photo">
          <img class="img-circle" [src]="user.photo" (load)="loaded = true" [hidden]="!loaded">
        </div>
        <div *ngIf="!user.photo">
          <div class="circles" [style.background-color]="getColortwo(user?.firstName, user?.lastName)">
            <div class="circle-text">{{ getInitialstwo(user?.firstName, user?.lastName) }}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 skdh0">
        <div class="kskls">
          <div *ngIf="!selfUser"  >
            <ng-container [ngSwitch]="button">
              <ng-container *ngSwitchCase="'PRIMARY'">
                <button type="button" class="btn btn-primary  b-5  btn-xs" [ngClass]="{'cancel-request-btn':user.connectionStatus=='REQUEST_SENT','accept-request-btn':user.connectionStatus=='REQUEST_PENDING'}"
                  *ngIf="(!selfUser && user.page == 'connectionList')   && hideButton || (!selfUser && (user.connectionStatus == 'NOT_CONNECTED' || user.connectionStatus == 'CONNECTED'))  && hideButton"
                  (click)="onclick(primaryButton)">{{primaryButton?.buttonName}}
                  <i *ngIf="user.connectionStatus == 'CONNECTED'" class="pe-7s-mail jwsk" aria-hidden="true"></i></button>

                  <button *ngIf="user.connectionStatus=='REQUEST_SENT'&&ulbutton ||user.connectionStatus=='REQUEST_PENDING'&&user.page != 'connectionList'"type="button" class="btn btn-primary  b-5  btn-xs"
                  (click)="onclick(primaryButton)">{{primaryButton?.buttonName}}
                  </button>
                <div class="btn-group three_icon_cmon1 hovers" id="the-dropdown" dropdown>

                  <a id="button-animated"
                    *ngIf="dropdownList?.length > 0&&!ulbutton || ( dropdownList?.length > 0 && !selfUser && user.page == 'COMMUNITY' && user.menu == 'memberspage' && (user.connectionStatus != 'NOT_CONNECTED' || user.connectionStatus != 'CONNECTED'))"
                    dropdownToggle class="m-r-10">
                    <img src="assets/icon/icon-vert-thr-dot.png" alt="" srcset="" class="Vthree-dote">
                  </a>
                  <ul id="dropdown-animated" id="the-dropdowns" *dropdownMenu class="dropdown-menu m-l-81" role="menu"
                    aria-labelledby="button-animated">
                    <li *ngFor="let data of dropdownList" role="menuitem" dropdown>
                      <a class="dropdown-item common-font-12 padd" dropdownToggle
                        (click)="onclick(data)">{{data?.buttonName}}</a>
                    </li>
                  </ul>
                </div>
              </ng-container>

              <ng-container *ngSwitchCase="'SECONDARY'">
                  <div class="btn-group" dropdown>
                    <a id="button-animated" *ngIf="dropdownList?.length > 0" dropdownToggle
                    class="m-r-10">
                      <img src="assets/icon/icons8-menu-vertical-32.png" alt="" srcset="" class="Vthree-dote">
                    </a>
                    <ul class="dropdown-menu" *dropdownMenu role="menu" style=" right: 0;left: auto;">
                      <li *ngFor="let data of dropdownList" role="menuitem" aria-expanded="false">
                        <a class="dropdown-item common-font-12"
                          (click)="onclick(data)">{{data?.buttonName}}</a>
                      </li>
                    </ul>
                  </div>
              </ng-container>
            </ng-container>
          </div>
          <div>
            <div class="fl-rtt mxpl"  (click)="navigateUserProfile(user)"
              *ngIf="selfUser && user.type !=='SUPERADMIN' && user.businessUserType !== 'SUPERADMIN' && user.isAdmin !== true">
              <span class="label label-info font-normal" style="font-size: 11px;">{{lblName}}</span>
            </div>
          </div>
        </div>



      </div>
      <div class="col-sm-12 rmlft"  (click)="navigateUserProfile(user)">
        <div class="row">
          <div class="col-sm-9">
            <h4 data-toggle="tooltip" data-placement="top"
              title="{{user.firstName}} {{user.lastName}} ">
              <a class="admin-name" (click)="navigateUserProfile(user)">{{user.firstName}}  {{user.lastName }} </a>
            </h4>
          </div>
          <div class="col-sm-3"  (click)="navigateUserProfile(user)">
            <div class="fl-rtt"
              *ngIf="user.type=='SUPERADMIN' || user.businessUserType == 'SUPERADMIN' || user.isAdmin === true">
              <span><img class="crown" title="Owner" src="assets/icon/crown_.PNG" alt=""></span>
            </div>
            <div class="fl-rtt" *ngIf="user.type=='ADMIN' || user.businessUserType == 'ADMIN'">
              <span><img class="crown" title="Admin" src="assets/icon/admin_cogs.PNG" alt=""></span>
            </div>
          </div>
        </div>

        <div class="talha"  (click)="navigateUserProfile(user)">
          <p *ngIf="user.requestSentTitle === undefined || user.requestSentTitle === null || user.requestSentTitle === ''"
            data-toggle="tooltip" data-placement="top" title="{{user.title}} " class="ellipse common-font-11">
            {{user.title }}</p>
          <p *ngIf="user.requestSentTitle !== undefined && user.requestSentTitle !== null && user.requestSentTitle !== ''"
            data-toggle="tooltip" data-placement="top" title="{{user.title}} " class="ellipse common-font-11">
            {{user.requestSentTitle }}
          </p>



          <p *ngIf="user.requestSentOrganization === undefined || user.requestSentOrganization === null || user.requestSentOrganization === ''"
            data-toggle="tooltip" data-placement="top" title="{{user.organisation}} " class="ellipse common-font-11">
            {{user.organisation }}</p>

          <p *ngIf="user.requestSentOrganization !== undefined && user.requestSentOrganization !== null && user.requestSentOrganization !== ''"
            data-toggle="tooltip" data-placement="top" title="{{user.organisation}} " class="ellipse common-font-11">
            {{user.requestSentOrganization }}</p>
        </div>


      </div>
    </div>


  </div>
  <div class="panel-footer contact-footer lahfp border-radius-top-left-right-0" *ngIf="showFooter">
    <div class="row">

      <div *ngIf="(user?.userType === 'RECRUITER' || user?.userType === 'BENCH_RECRUITER' ||user?.userType === 'JOB_SEEKER')" >

        <div class="col-md-6 border-right">
          <div class="contact-stat"><span>Connections: </span>
            <strong>{{ user.connectionCnt != null && user.connectionCnt != undefined ? user.connectionCnt : '0' }}</strong>
          </div>
        </div>

        <div class="col-md-6">

          <div *ngIf="user?.userType === 'RECRUITER'" class="contact-stat"><span> Jobs : </span>
            <strong>{{ user.jobsCount != null && user.jobsCount != undefined ? user.jobsCount : '0' }}</strong>
          </div>

          <div *ngIf="user?.userType === 'BENCH_RECRUITER' ||user?.userType === 'JOB_SEEKER'" class="contact-stat"><span> Candidates : </span>
            <strong>{{ user.candidatesCount != null && user.candidatesCount != undefined ? user.candidatesCount : '0' }}</strong>
          </div>
        </div>
      </div>
      <div class="userCard-item col-sm-12" *ngIf="(user?.userType === 'MANAGEMENT_TALENT_ACQUISITION' || user?.userType === 'FREELANCE_RECRUITER')">

        <div class="col-sm-5 p-0 border-right">
          <div class="contact-stat"><span>Connections : </span>
            <strong>{{ user.connectionCnt != null && user.connectionCnt != undefined ? user.connectionCnt : '0' }}</strong>
          </div>
        </div>

        <div class="col-sm-3 p-0 border-right">
          <div class="contact-stat"><span> Jobs : </span>
            <strong>{{ user.jobsCount != null && user.jobsCount != undefined ? user.jobsCount : '0' }}</strong>
          </div>
        </div>

        <div class="col-sm-4 p-0">
          <div class="contact-stat"><span> Candidates : </span>
            <strong>{{ user.candidatesCount != null && user.candidatesCount != undefined ? user.candidatesCount : '0' }}</strong>
          </div>
        </div>

      </div>
    </div>
  </div>
