.mar-top-30{
  margin-top: 61px;
  width: 155px;
}
.modal-dialog {
  width: 330px !important;
  margin: 30px auto;
}
.modal-header {
   padding: 15px 15px 15px 15px !important;
    /* background: white !important; */
    border-radius: 3px;
    background: #49a7a9;
    color: #fff;
  }
.modal-body {
padding: 0px 15px !important;
}

  .poinstsCnt1 {
    display: flex;
    align-items: center;

    justify-content: center;

    button {
      margin: 0 5px;
    }
  }
  .line-tag{

    border: 0;
    border-top: 1px solid #0d0505;
  }
  .cm-disc{
    font-size:10px;
  }

.modal-footer {
background: #f7f9fa;
border-radius: 3px !important;
padding: 4px;
text-align: center;
}

.credit-title {
  font-size: 15px;
  color: #fff;
}

.close-icoon {
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}

.modal-title {
font-size: 19px;
font-weight: 300;
}
input[type="radio"], input[type="checkbox"] {
margin: 3px 6px 0;
float: left;
line-height: normal;
}
.m-t-6{
  margin-top: 6px;
}
.txt-al-ce{
  text-align: center;
}
.m-b-9{
  margin-bottom: 9px;
}


.faq-tableheader{
  background: #eee;
  vertical-align: middle;
  text-align: center;
}

.header-title{
  text-align: center;
  margin-bottom: 20px;
}

.faq-table-align{
  width: 160px;
  text-align: center !important;
}
.faq-table-align-value{
width: 160px;
text-align: left !important;
}
$color1: #fff;
$color2: #63cfbe;
.radio {
  margin: 0.5rem;
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        background: $color1;
        border-radius: 100%;
        border: 1px solid darken($color1, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: 1px;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px $color1;
          border-color: darken($color1, 25%);
          background: darken($color1, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
button.btn.btn-link.ng-star-inserted.collapsed i {
  float: right;
  position: absolute;
  right: 0;
  margin-right: 30px;
}
::ng-deep  {
  .customAccordion .card-header  {
      font-family: "Roboto";
      margin-top: 10px;
      padding: 6px;
      color: #111;
      font-size: 19px;
      background-color: #ebebeb;
       button.btn.btn-link.ng-star-inserted i {
        transform: rotate(0deg);
      }

       button.btn.btn-link.ng-star-inserted.collapsed i {
        transform: rotate(180deg);
      }

       button.btn.btn-link.ng-star-inserted {
        padding-left: 0;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #eee;
      }

      //  .collapse .card-body {
      //   padding: 15px 0;
      // }
  }


}
