<!-- Skeleton for UserBadge -->
<div class="user-badge-skeleton " *ngIf="NameOftheScreen=='userBadge'">
  <div class="dashboard-skeleton ">
    <div class="circle-skeleton skeleton"></div>
    <div class="text-skeleton  name-skeleton "></div>
    <div class="stats-skeleton  skeleton">
      <div class="stat-item-skeleton skeleton"></div>
      <div class="stat-item-skeleton skeleton"></div>
      <div class="stat-item-skeleton skeleton"></div>
    </div>
    <div class="text-skeleton  plan-skeleton "></div>
    <div class="button-skeleton skeleton"></div>
  </div>
</div>
<!-- Skeleton for Post Component-->
<!-- Defaul post 1 -->
<div class="postPagecssdesgin" *ngIf="NameOftheScreen=='postPage'">
  <div class="skeleton-container">
    <div class="logo-skeleton ">
      <div class="logo-icon-skeleton  skeleton "></div>
      <div class="logo-text-skeleton "></div>
    </div>
    <div class="skeleton-subheading skeleton "></div>
    <div class="skeleton-heading skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="content-skeleton ">
      <div class="text-skeleton skeleton "></div>
      <div class="skeleton-button skeleton "></div>
    </div>
  </div>
</div>
<!-- Defaul post 2 -->
<div class="postPagecssdesgin height-secondcard" *ngIf="NameOftheScreen=='postPage'">
  <div class="skeleton-container">
    <div class="logo-skeleton ">
      <div class="logo-icon-skeleton skeleton"></div>
      <div class="logo-text-skeleton "></div>
    </div>
    <div class="skeleton-subheading skeleton "></div>
    <div class="skeleton-heading skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="skeleton-text skeleton "></div>
    <div class="skeleton-text skeleton "></div>
  </div>
</div>
<!-- Widgets -->
<div class=" widgetsPage candidates-container" *ngIf="NameOftheScreen=='widgets'">
  <div class="candidates-header">
    <div class="skeleton header-title skeleton "></div>
    <div class="skeleton header-icon skeleton "></div>
  </div>
  <div class="candidates-list">
    <div class="candidate-skeleton ">
      <div class="skeleton profile-pic skeleton "></div>
      <div class="candidate-info">
        <div class="skeleton candidate-name skeleton "></div>
        <div class="skeleton candidate-role skeleton "></div>
      </div>
    </div>
    <div class="candidate-skeleton ">
      <div class="skeleton profile-pic skeleton"></div>
      <div class="candidate-info">
        <div class="skeleton candidate-name skeleton "></div>
        <div class="skeleton candidate-role skeleton "></div>
      </div>
    </div>
    <div class="candidate-skeleton ">
      <div class="skeleton profile-pic skeleton "></div>
      <div class="candidate-info">
        <div class="skeleton candidate-name skeleton "></div>
        <div class="skeleton candidate-role skeleton "></div>
      </div>
    </div>
  </div>
  <div class="skeleton more-link"></div>
</div>
<div class="landingPagesidenavbar" *ngIf="NameOftheScreen=='landingPagesidenavbar'">
  <div class="sidebar-skeleton ">
    <div class="menu-item-skeleton ">
      <div class="icon-skeleton skeleton "></div>
      <div class="text-skeleton skeleton "></div>
    </div>
    <div class="menu-item-skeleton ">
      <div class="icon-skeleton skeleton "></div>
      <div class="text-skeleton skeleton "></div>
    </div>
    <div class="menu-item-skeleton ">
      <div class="icon-skeleton skeleton "></div>
      <div class="text-skeleton skeleton "></div>
    </div>
    <div class="menu-item-skeleton ">
      <div class="icon-skeleton skeleton "></div>
      <div class="text-skeleton skeleton "></div>
    </div>
    <div class="menu-item-skeleton ">
      <div class="icon-skeleton skeleton "></div>
      <div class="text-skeleton skeleton "></div>
    </div>
  </div>
</div>
<div class="video-card-ui-design" *ngIf="NameOftheScreen=='helpModule'">
  <div class="video-card-skeleton ">
    <div class="thumbnail-skeleton skeleton "></div>
    <div class="info-bar-skeleton ">
      <div class="title-skeleton skeleton "></div>
      <div class="duration-skeleton skeleton "></div>
    </div>
  </div>
  <div class="video-card-skeleton ">
    <div class="thumbnail-skeleton skeleton "></div>
    <div class="info-bar-skeleton ">
      <div class="title-skeleton skeleton "></div>
      <div class="duration-skeleton skeleton "></div>
    </div>
  </div>
  <div class="video-card-skeleton ">
    <div class="thumbnail-skeleton skeleton "></div>
    <div class="info-bar-skeleton ">
      <div class="title-skeleton skeleton "></div>
      <div class="duration-skeleton skeleton "></div>
    </div>
  </div>
  <div class="video-card-skeleton skeleton">
    <div class="thumbnail-skeleton skeleton"></div>
    <div class="info-bar-skeleton">
      <div class="title-skeleton" skeleton></div>
      <div class="duration-skeleton skeleton"></div>
    </div>
  </div>
</div>
<div class="jobcardui-design" *ngIf="NameOftheScreen=='jobcardMediumscreen'">
  <ng-container *ngFor="let item of 3 | times; let i = index">
    <div class="job-card-skeleton ">
      <div class="top-section">
        <div class="avatar-skeleton  skeleton "></div>
        <div class="info-skeleton ">
          <div class="name-skeleton skeleton "></div>
          <div class="title-skeleton skeleton "></div>
          <div class="details-skeleton skeleton "></div>
          <div class="salary-skeleton skeleton "></div>
        </div>
        <div class="status-skeleton "></div>
      </div>
      <div class="actions-skeleton ">
        <div class="button-skeleton skeleton "></div>
        <div class="button-skeleton skeleton "></div>
        <div class="button-skeleton skeleton "></div>
        <div class="button-skeleton skeleton "></div>
      </div>
    </div>
  </ng-container>
</div>
<div class="jobselectedMidscreen" *ngIf="NameOftheScreen=='jobselectedscreen'">
  <div class="job-details-skeleton">
    <div class="header-skeleton">
      <div class="avatar-skeleton skeleton"></div>
      <div class="info-skeleton">
        <div class="name-skeleton skeleton"></div>
        <div class="role-skeleton skeleton"></div>
        <div class="location-skeleton skeleton"></div>
      </div>
    </div>
    <div class="action-items  skeleton"></div>
    <div class="title-skeleton skeleton"></div>
    <div class="job-info-skeleton">
      <div class="id-skeleton skeleton"></div>
      <div class="salary-skeleton skeleton"></div>
      <div class="details-skeleton skeleton"></div>
    </div>
    <div class="job-info-skeleton">
      <div class="id-skeleton skeleton"></div>
      <div class="salary-skeleton skeleton"></div>
      <div class="details-skeleton skeleton"></div>
    </div>
    <div class="section-skeleton skeleton"></div>
    <div class="section-skeleton skeleton"></div>
    <div class="description-skeleton skeleton"></div>
  </div>
</div>
<div class="message-widget-conversation-load" *ngIf="NameOftheScreen=='messageConversation'">
  <div class="chat-container-skeleton">
    <div class="chat-bubble-skeleton incoming">
      <div class="avatar-skeleton skeleton"></div>
      <div class="text-skeleton skeleton"></div>
      <div class="timestamp-skeleton skeleton"></div>
    </div>
    <div class="chat-bubble-skeleton-right outgoing">
      <div class="avatar-skeleton skeleton"></div>
      <div class="text-skeleton skeleton"></div>
      <div class="timestamp-skeleton skeleton"></div>
    </div>
    <div class="chat-bubble-skeleton incoming">
      <div class="avatar-skeleton skeleton"></div>
      <div class="text-skeleton skeleton"></div>
      <div class="timestamp-skeleton skeleton"></div>
    </div>
    <div class="chat-bubble-skeleton-right outgoing">
      <div class="avatar-skeleton skeleton"></div>
      <div class="text-skeleton skeleton"></div>
      <div class="timestamp-skeleton skeleton"></div>
    </div>
    <div class="chat-bubble-skeleton incoming">
      <div class="avatar-skeleton skeleton"></div>
      <div class="text-skeleton skeleton"></div>
      <div class="timestamp-skeleton skeleton"></div>
    </div>
    <div class="chat-bubble-skeleton-right outgoing">
      <div class="avatar-skeleton skeleton"></div>
      <div class="text-skeleton skeleton"></div>
      <div class="timestamp-skeleton skeleton"></div>
    </div>
  </div>
</div>
<div class="userChatDesign" *ngIf="NameOftheScreen=='userChat'">
  <div class="contact-list-skeleton">
    <div class="contact-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="info-skeleton">
        <div class="name-skeleton"></div>
        <div class="details-skeleton"></div>
      </div>
    </div>
    <div class="contact-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="info-skeleton">
        <div class="name-skeleton"></div>
        <div class="details-skeleton"></div>
      </div>
    </div>
    <div class="contact-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="info-skeleton">
        <div class="name-skeleton"></div>
        <div class="details-skeleton"></div>
      </div>
    </div>
    <div class="contact-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="info-skeleton">
        <div class="name-skeleton"></div>
        <div class="details-skeleton"></div>
      </div>
    </div>
    <div class="contact-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="info-skeleton">
        <div class="name-skeleton"></div>
        <div class="details-skeleton"></div>
      </div>
    </div>
  </div>
</div>
<!--  Common loader  -->
<div class="loader-mini-size" *ngIf="NameOftheScreen=='CheckboxSelection'">
  <div class="loader-overlay">
    <div class="loader-circle"> </div>
  </div>
</div>
<div class="Notification" *ngIf="NameOftheScreen=='notification'">
  <ng-container *ngFor="let item of countforView | times; let i = index">
    <div class="notification-card-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="text-skeleton full-width"></div>
      <div class="text-skeleton short-width"></div>
    </div>
  </ng-container>
</div>
<div class="connectionscard" *ngIf="NameOftheScreen=='connections'">
  <!-- <ng-container *ngFor="let item of countforView | times; let i = index">
  </ng-container> -->
  <div class="contact-card-skeleton">
    <div class="flex">
      <div class="avatar-skeleton"></div>
      <div class="sendmsg-skeleton"></div>
    </div>
  </div>
</div>
<div class="faq" *ngIf="NameOftheScreen=='faq'">
  <div class="faq-skeleton">
    <div class="faq-item-skeleton" *ngFor="let item of countforView | times; let i = index">
      <div class="text-skeleton"></div>
      <div class="arrow-skeleton"></div>
    </div>
  </div>
</div>
<div class="pricing" *ngIf="NameOftheScreen=='pricing'">
  <div class="pricing-page-skeleton">
    <div class="header-pricecard ">
      <div class="header-skeleton h-30 header-pricecard flex itemcenter">
        <div class="headerpage-button"></div>
        <div class="headerpage-button"></div>
      </div>
    </div>
    <div class="plan-cards-skeleton  ">
      <div class="plan-card-skeleton" *ngFor="let item of 3 | times; let i = index">
        <div class="button-skeleton skeleton"></div>
        <div class="text-skeleton medium skeleton"></div>
        <div class="text-skeleton small skeleton"></div>
        <div class="text-skeletonstartat skeleton"></div>
        <div class="button-skeleton skeleton"></div>
        <div class="button-skeleton yearmonth skeleton"></div>
        <div class="button-skeleton upgrade skeleton"></div>
        <div class="number-list-skeleton ">
          <div class="skeleton-block skeleton"></div>
          <hr class="skeleton-divider skeleton">
          <div class="skeleton-block skeleton"></div>
          <hr class="skeleton-divider skeleton">
          <div class="skeleton-block skeleton"></div>
          <hr class="skeleton-divider skeleton">
          <div class="skeleton-block skeleton"></div>
          <hr class="skeleton-divider skeleton">
          <div class="skeleton-block skeleton"></div>
        </div>
      </div>
    </div>
    <div class="table-skeleton">
      <div class="text-skeleton pricedummycard-ui"></div>
      <div class="text-skeleton pricedummycard-ui"></div>
      <div class="text-skeleton pricedummycard-ui"></div>
    </div>
  </div>
</div>
<div class="jobcardlarge" *ngIf="NameOftheScreen=='jobcardlarge'">
  <div class="card-skeleton" *ngFor="let item of countforView | times; let i = index">
    <div class="header-skeleton">
      <div class="avatar-skeleton"></div>
      <div class="info-skeleton">
        <div class="text-skeleton name skeleton"></div>
        <div class="text-skeleton title skeleton "></div>
        <div class="text-skeleton experience skeleton"></div>
      </div>
      <div class="status-skeleton"></div>
    </div>
    <div class="details-skeleton ">
      <div class="text-skeleton location skeleton"></div>
    </div>
    <div class="footer-skeleton">
      <div class="icon-skeleton skeleton"></div>
      <div class="icon-skeleton skeleton"></div>
      <div class="icon-skeleton skeleton"></div>
      <div class="icon-skeleton skeleton"></div>
      <div class="icon-skeleton skeleton"></div>
    </div>
  </div>
</div>
<div class="timelinedesign" *ngIf="NameOftheScreen=='timelinedesign'">
  <div class="timeline-skeleton">
    <div class="timeline-item-skeleton" *ngFor="let item of countforView | times; let i = index">
      <div class="circle-skeleton skeleton"></div>
      <div class="content-skeleton">
        <div class="text-skeleton title skeleton"></div>
        <div class="text-skeleton date skeleton"></div>
      </div>
    </div>
  </div>
</div>
<div class="smallcarduidesign" *ngIf="NameOftheScreen=='smallcard'">
  <div class="job-list-skeleton">
    <div class="job-item-skeleton" *ngFor="let item of countforView | times; let i = index">
      <div class="checkbox-skeleton"></div>
      <div class="avatar-skeleton"></div>
      <div class="content-skeleton">
        <div class="text-skeleton title"></div>
        <div class="text-skeleton location"></div>
      </div>
    </div>
  </div>
</div>

<div class="likeviewcard" *ngIf="NameOftheScreen=='likeviewcard'">
  <div class="card-skeleton mb-10" *ngFor="let item of countforView | times; let i = index">
    <div class="avatar-skeleton"></div>
    <div class="info-skeleton">
      <div class="text-skeleton name"></div>
      <div class="text-skeleton role"></div>
      <div class="text-skeleton timestamp"></div>
    </div>
    <div class="icon-skeleton"></div>
  </div>

</div>

<div class="candidateDetails" *ngIf="NameOftheScreen=='candidateDetails'" >

  <div class="page-skeleton">
    <div class="section-skeleton" *ngFor="let item of countforView | times; let i = index">
      <div class="header-skeleton">
        <div class="text-skeleton header"></div>
        <div class="icons-skeleton">
          <div class="icon-skeleton"></div>
          <div class="icon-skeleton"></div>
        </div>
      </div>
      <div class="content-skeleton">
        <div class="text-skeleton content-line"></div>
        <div class="text-skeleton content-line"></div>
      </div>
    </div>
  </div>



</div>
<!-- Skeleton Loader for Table -->
<div *ngIf="NameOftheScreen == 'billingHistory'" class="billing-history-skeleton">
  <table class="skeleton-table">
    <thead>
      <tr>
        <th *ngFor="let header of [].constructor(6)">
          <div class="skeleton skeleton-header"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of [].constructor(countforView)">
        <td *ngFor="let header of [].constructor(6)">
          <div class="skeleton skeleton-cell"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- usercarddesign -->
<div class="hpanel contact-panel usercard-skeleton" *ngIf="NameOftheScreen == 'usercard'">
  <div class="panel-body cp jsoh border-radius-top-left-right-6 border-radius-bottom-left-right-0">
    <div class="row">
      <div class="col-sm-4">
        <div class="img-circle skeleton-img"></div>
      </div>
      <div class="col-sm-8 skdh0">
        <div class="skeleton-text skeleton-btn"></div>

        <div class="btn-group skeleton-btn-group" style="margin-top: 10px;"></div>
      </div>
      <div class="col-sm-12 rmlft">
        <div class="talha">
          <div class="skeleton-text skeleton-subtitle"></div>
          <div class="skeleton-text skeleton-subtitle"></div>
          <div class="skeleton-text skeleton-subtitle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer contact-footer lahfp border-radius-top-left-right-0">
    <div class="row">
      <div class="col-md-6 border-right">
        <div class="skeleton-text skeleton-footer-text"></div>
      </div>
      <div class="col-md-6">
        <div class="skeleton-text skeleton-footer-text"></div>
      </div>
    </div>
  </div>
</div>
<!-- network card -->
<div *ngIf="NameOftheScreen == 'networkcard'">
  <div   class="hpanel contact-panel networkcard-skeleton">
    <div class="panel-body border-radius-top-left-right-6 border-radius-bottom-left-right-0">
      <!-- Network Name Placeholder -->
      <div class="network-card-header">
        <div class="skeleton-text skeleton-title"></div>
      </div>
      <!-- Message Placeholder -->
      <div class="network-card-body">
        <div class="skeleton-text skeleton-subtitle"></div>
        <div class="skeleton-text skeleton-subtitle"></div>
        <div class="skeleton-text skeleton-subtitle"></div>
      </div>
    </div>
    <!-- Footer with 3 divisions -->
    <div class="panel-footer contact-footer border-radius-top-left-right-0">
      <div class="row">
        <div class="col-md-4">
          <div class="skeleton-text skeleton-footer-text"></div>
        </div>
        <div class="col-md-4">
          <div class="skeleton-text skeleton-footer-text"></div>
        </div>
        <div class="col-md-4">
          <div class="skeleton-text skeleton-footer-text"></div>
        </div>
      </div>
    </div>
  </div>
</div>




