<div class="row">
    <div class="col-sm-6">
        <div class="custom-checkbox" title="Search All filters">
            <label class="checkbox-label font-normal">
                <input type="checkbox" [(ngModel)]="all" (change)="jobApplicantStatusFilter($event,'all')" />
                <span class="checkmark" style="top: -5px"></span>
                <p class="label-ppp"> All</p>
            </label>
        </div>
    </div>

    <div *ngIf="jobApplicantStatusList.length > 0">
      <form [formGroup]="jobApplicantFilterForm">
          <div *ngFor="let item of jobApplicantStatusList;">
              <div class="col-sm-6">
                  <div class="custom-checkbox" title="Search {{item.value | titlecase}} filters">
                      <label class="checkbox-label font-normal">
                          <input type="checkbox" formControlName="{{item.itemId}}"
                              (change)="jobApplicantStatusFilter($event , item.itemId)" />
                          <span class="checkmark" style="top: -5px"></span>
                          <p class="label-ppp"> {{item.value | titlecase}}</p>
                      </label>
                  </div>
              </div>
          </div>
      </form>
    </div>
</div>
