.uy-oi {
  display: flex;
  align-items: center;
  margin-right: 0px !important;
  margin-left: 0pc !important;
  cursor: pointer;
}

.icon-size {
  width: 15px;
}

.pointer {
  cursor: pointer;
}

.m-t-10 {
  margin-top: 10px;
}

.ui-align-role {
  position: absolute;
  left: 150px;
  padding: 4px 4px;
  font-size: 11px;
}

.check-ui {
  position: absolute;
  // top: -18px;
  left: 0;
  height: 55px;
  width: 17px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.no-views {
  padding-top: 0px;
}

.line-tag {
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top: 1px solid #eee;
}

.arrowclasspad {
  color: white;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.dwidth {
  width: 110px;
  font-size: 12px;
  margin-right: 36px;
  padding: 4px;
}

.skeleton {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ddd !important;
  color: transparent !important;
  border-color: #1e2226 !important;
  user-select: none;
  cursor: default;
}

.lzx {
  margin-top: 20px !important;
}

.idid {
  display: flex;
  // align-items: center;
}

.isop {
  display: -webkit-box;
  display: flex;
  position: relative;
  float: right;
}

.w-20 {
  width: 85px !important;
}

.report {
  height: 19px;
  width: 59px;
  text-align: center;
  cursor: pointer;
}

.skeleton img {
  opacity: 0;
}

.jk-op {
  display: grid;
  // column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
}

.img-width-dot-icon {
  height: 25px;
  position: relative;
  bottom: 3px;
  min-height: 24px;
}



.sm-sz11 {
  height: 20px;
}

.ssm {
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.bj-io {
  display: flex;
  column-gap: 3px;
  width: max-content;
}

.ioxlp>div {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
}

.jsdhgf>div {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  text-overflow: ellipsis;
  background-color: #fff;
  color: black;
  overflow: hidden;
  white-space: nowrap;
}

.wert {
  position: relative;
  text-align: center;
  top: 5rem;
}


.fig {
  font-weight: 500;
  position: relative;
  top: 12px;
}

.fig1 {
  font-weight: 500;
  position: relative;
  top: 20px;
}

.pddin-10 {
  padding: 10px;
}

.uixx {
  padding: 0px !important;
  display: grid;
  row-gap: 3px;
}

.lqp {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.pd-top-tn {
  padding-top: 10px;
  padding-left: 0px !important;
}



.rcrtr-lbl {
  font-weight: 500;
  background-color: #62cb31;
  color: white;
  border-radius: 3px;
  padding: 0px 4px 2px 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 15px;
  font-size: 12px;
  cursor: context-menu;

}

.display-flex-right {
  display: flex;
  justify-content: flex-end;
}


.uy-tr {
  display: -webkit-box;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: -6px;
}

.uy-tr1 {
  display: -webkit-box;
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.blue-color {
  color: #1272f0;
}

.m-lm18 {
  margin-left: -18px !important;
}

.f-w-b {
  font-weight: bold;
  width: max-content;
}

.bg-tags {
  background: #eee;
}

.bg-heart {
  color: red;
}

.img-circle {
  width: 38px !important;
  height: 38px !important;
  margin-left: auto;
  margin-right: auto;
}

.skeleton {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ddd !important;
  color: transparent !important;
  border-color: #1e2226 !important;
  user-select: none;
  cursor: default;
}

.sa-as {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.font-10z {
  font-size: 8px;
}



// tags


.possible-tag-list {
  list-style-type: none;
  display: grid;
  width: 500px;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  border: 1px solid green;
  padding: 15px;
  max-height: 150px;
  overflow: scroll;
}

li {
  display: block;
  width: 100%;
}

.no-mg {
  margin: 0px !important;
}

.sectionate {
  margin-bottom: 5px;
  padding: 0px !important;
}

.openop {
  color: green;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: 3px;
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.interactive-elements {
  display: -webkit-box;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0px 0px 7px 0px;
  margin-left: -7px;

  &>div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
  }
}

.owner-name {
  font-weight: bold;
  font-size: 14px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.owner-org-name {
  opacity: 0.8;
  font-weight: 500;
}

.click-blocked {
  pointer-events: none!important;
}

.cntext-m-pd-7 {
  cursor: context-menu;
  padding: 7px!important;
}

.pd-7 {
  padding: 7px!important;
}