.faqheader{
  background-color: #63cfbe;
  color: #fff;
  margin-bottom: 16px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Poppins, sans-serif;
}
.white{
  background-color: #fff;
}
.page-headeer{
    font-weight: 800;
    color: #111;
    font-size: 20px;
    font-family: 'Poppins';
}

.f-w-800{
  font-weight: 800;
}

.expand-item{
  font-family: 'Poppins';
  overflow: hidden;
  font-size: 16px;
}



.m-t-120{
  margin-top: 117px;
}

.m-t-180{
  margin-top: 180px;
}


.succes-btn{
  color: #fff;
  background: #f6000c;
  width: 61px;
  border-radius: 56px;
}

.check-icon{
  font-size: 14px;
}


.succes-pay-text{
  font-size: 30px;
  color: #f6000c;
  font-weight: 700;
}

hr {
  border: none;
  border-top: 2px dashed rgb(184 169 168);
  color: #fff;
  background-color: #fff;
  height: 1px;
  width: 50%;
}

.flex{
  justify-content: space-evenly;
  display:flex;
}

.font-bold{
  font-size: 16px;
}


.m-l-12{
  margin-left: 12px;
}


.transaction{
  margin-top: 15px;
  font-size: 16px;
}

.m-t-30{
  margin-top: 30px;
}
