<div class="business-list-view col-md-12 padding-right-0 padding-left-0">

    <div class="hpanel">
        <div class="Bnav panel-body border-radius-top-left-right-6">
            <div class="Bnav-item-1">
                <label class=" control-label font-bold font-size-bold" data-toggle="tooltip" data-placement="top"
                    title="{{values.bussinessName}}">{{values.bussinessName }}
                </label>
                <div>
                    <p>{{pendingList?.length}} Employee<span
                            *ngIf="pendingList?.length>1">s </span></p>
                    <!-- <p *ngIf="pendingList?.length === 1">{{pendingList?.length}} Request received</p> -->

                </div>
            </div>
            <div class="Bnav-item-2">
                <div>
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="Search Employee" [(ngModel)]="empSearch"
                            [ngModelOptions]="{standalone: true}"  (keyup)="keyupdata($event)" (keyup.enter)="onsearch(empSearch)" aria-label="Amount (to the nearest dollar)">
                            <span class="input-group-addon"  (click)="onsearch(empSearch)" id="my_btn" ><i class="pe-7s-search"    ></i></span>            -->

                        <input type="text" class="form-control" placeholder="Search Employee" [(ngModel)]="searchKey"
                            [ngModelOptions]="{standalone: true}" aria-label="Amount (to the nearest dollar)">
                        <span class="dummyBtn"></span>
                    </div>
                </div>
            </div>
            <div class="Bnav-item-3" *ngIf="isSuperAdmin === 'true'">
                <div class="btn-group " dropdown container="body">
                    <button id="button-container" style="min-width: 90px !important;"
                        class="btn btn-primary dropdown-toggle btn-sm" dropdownToggle
                        aria-controls="dropdown-container">
                        <div class="filter-common">
                          <span>{{filterName}}</span>
                          <i class="pe-7s-filter"></i>
                        </div>
                    </button>
                    <ul id="dropdown-container" *dropdownMenu class="dropdown-menu m-l-43 " role="menu"
                        aria-labelledby="button-container">
                        <li role="menuitem"><a class="dropdown-item" (click)='findAll()'>All </a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)='ignored()'>Ignored </a></li>
                         <li role="menuitem"><a class="dropdown-item" (click)='denied()'>Denied</a></li>
                    </ul>
                </div>
            </div>
            <div class="Bnav-item-4">
                <button class="btn primary-btn btn-sm" disabled>Advance Search</button>
            </div>
        </div>
    </div>

    <div class="">
        <div class="col-sm-12 col-md-6 col-lg-4 sdpoo padding-right-5 padding-left-0"
            *ngFor="let data of pendingList | customFilter:{userName:searchKey}:false;index as i ">
            <app-user-card [userIdInput]="data.userId" [config]="userCardConfig" [button]="'PRIMARY'"
                [adminFlag]="values.adminviewnavigation" [refresh]="true" [userDataInput]='data'>
            </app-user-card>
        </div>
    </div>

    <div  *ngIf="pendingList.length==0">
                   <app-nodata-found [title]="noDatafound"></app-nodata-found>
      </div>

</div>
