.header {
 // margin-top: 60px;
}

.mt-5 {
    margin-top: 5px;
    margin-left: 1px;
    margin-right: -8px;
}

.postContained {
  margin-left: -24px;
  margin-right: -24px;
  width: 54%;
}

.wd {
  width: 61.5%;
}
.m-r-5-a{
  margin-right: 5px;
}
