<div class="all-page-combo-layout">
  <div class="all-page-feed">
    <div class="hpanel">
      <div class="panel-body border-radius-top-left-right-6">
        <div class="comNavBar bgCol">
          <div class="nav-iteam-1 m-t-8">
            <label for="">Invite Sent : {{ inviteLength }}</label>
          </div>
          <div class="nav-iteam-2">
            <div class="input-group f-l">
              <input type="text" class="form-control" placeholder="Search Invites "
                aria-label="Amount (to the nearest dollar)" name="searchadmin" id="searchadmin"
                [(ngModel)]="searchKey" />
              <span class="dummyBtn"></span>
            </div>
          </div>
          <div class="nav-iteam-3">
            <div class="btn-group" dropdown>
              <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle hgop"
                aria-controls="dropdown-basic">
                All
                <i class="pe-7s-filter"></i>
              </button>
              <!-- <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              </ul> -->
            </div>
          </div>
          <div class="nav-iteam-4">
          </div>
        </div>
      </div>
    </div>
    <div class="margin-top-5">
      <ng-container *ngIf="loadAPIcall" >
        <div  class="col-md-6 col-lg-4 col-sm-12 padding-left-0 padding-right-5" style="padding-bottom: 5px;"
      *ngFor="let n of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
      <app-common-skeleton [NameOftheScreen]="'usercard'"></app-common-skeleton>
    </div>
      </ng-container>
      <div class="col-md-6 col-lg-4 col-sm-12 padding-left-0 padding-right-5" style="padding-bottom: 5px;"
        *ngFor="let data of membersData | customFilter:{userName:searchKey}:false">
        <app-user-card [userDataInput]="data" [labelName]="'NETWORK'" [config]="userCardConfig"
          [button]="'PRIMARY'"></app-user-card>
      </div>
      <div class="col-md-12 pad" *ngIf="membersData?.length==0">
        <app-nodata-found [title]="noDatafound"></app-nodata-found>
      </div>
    </div>
  </div>
  <div class="all-page-widget">
    <app-common-widget [page]="'TEAMS_MEMBER_PAGE'" [inputData]="'NETWORK'"></app-common-widget>
  </div>
</div>
