<app-langding-page-nav-bar></app-langding-page-nav-bar>
<div class="app-content container " >
  <div class="suggestion-page-layout">
    <div class="suggestion-page-menu landing-side1">
      <div class="hpanel menu-sticky-up" *ngIf="WidgetList">
        <div class="panel-body pad-0 border-radius-top-left-right-6">
          <ul>
            <li *ngFor="let item of WidgetList" class="navmenu" (click)="clickmenu(item)"
              [ngClass]="{ active: selectedmenu.menu == item.widgetDesc }" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              <a class="navIteam">
                <div class="nav-margin"> {{item.widgetDesc}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="suggestion-page-content">
      <app-suggestions [selectedMenu]="selectedmenu" *ngIf="showPage"></app-suggestions>
    </div>
  </div>
</div>
