.filter-title {
  display: flex;
  align-items: center;
  column-gap: 15px;
}


.loader-overlay {
  position: absolute; /* Position relative to the parent div */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-circle {
  width: 47px;
  height: 47px;
  border: 6px solid #f3f3f3;
  border-top-color: #63cfbe;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



