<!-- <div class="business-list-view col-md-12"> -->

      <div class="hpanel">
        <div class="panel-body border-radius-top-left-right-6 business-community-header-container">
          <div class="business-community-name">
            <!-- <label class=" control-label font-bold">{{businessData.businessName | uppercase}}</label> -->

            <ng-container *ngIf="createCommunity != 'SUPERADMIN'">
              <label class=" control-label">{{businessData.businessName | truncate :
                18 }}</label>
            </ng-container>

            <div *ngIf="SuperAdminData ==='true'">
              <!-- <a  (click)="routePage()" disabled
                class="btn btn-primary btn-sm primary-btn" style="margin-top: 5px; margin-bottom: 5px;"
                #createcommunity>Create Community aa</a> -->
                <a  disabled
                class="btn btn-primary btn-sm primary-btn" style="margin-top: 5px; margin-bottom: 5px;"
                #createcommunity>Create Community</a>
            </div>

            <div *ngIf="communityList.length >=1">
              {{communityList.length}} Community
            </div>
          </div>
          <div class="business-community-search-bar" >
            <input type="text" name="searchtxt" id="searchtxt" [(ngModel)]="searchText" placeholder="Search Communities" disabled
              class="form-control input-sm">
          </div>
          <div class="business-community-search-btn">
            <button type="submit" class="btn primary-btn btn-sm"
              (click)="searchCommunity()"disabled>Search</button>
          </div>
        </div>
      </div>


  <div>
    <div class="col-sm-12 col-md-6 col-lg-4 padding-right-5 padding-left-0" *ngFor="let data of communityList | customFilter :{communityName:searchText}:false"
      >
      <app-community-card [data]="data"></app-community-card>

      <!-- <div class="hpanel {{data.comColor}} contact-panel">
        <div class="panel-body" style="padding: 10px;">
          <div class="pull-right m-t-m-15">
          </div>
          <img alt="logo" class="img-circle" [src]="data.logo ? photoUrl+data.logo : 'assets/icon/comm.png'">
          <h5 class="com-ellipse"><a (click)="redirectCommunity(data)" data-toggle="tooltip" data-placement="top"
              title="{{ data.communityName}}">{{data.communityName}}</a></h5>
          <div class="text-muted font-bold m-b-xs">{{data.communityType ? 'PRIVATE' : 'PUBLIC'}}</div>
        </div>
        <div class="panel-footer contact-footer" style="padding: 0;">
          <div class="row">
            <div class="col-md-6 border-right">
              <div class="contact-stat"><span>Members: </span>
                <strong>{{data['memberCnt']}}</strong>
              </div>
            </div>
            <div class="col-md-6">
              <div class="contact-stat"><span>Posts: </span>
                <strong>{{data['postCnt']}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>


    <div class="aa" *ngIf="communityList?.length ==0">
         <p >Please upgrade your profile to premium profile to create communities.
        </p>
    </div>

  </div>
<!-- </div> -->
