    <div class="border-grey">
      <div class="panel-heading font-bold">
        <div class="panel-tools">
          <a
            (click)="businessPage = !businessPage"
            [attr.aria-expanded]="!businessPage"
          >
            <i *ngIf="businessPage" class="fa fa-chevron-down"></i>
            <i *ngIf="!businessPage" class="fa fa-chevron-up"></i>
          </a>
        </div>
        Business Pages
        <span class="pull-right m-r-20">
          <!-- [routerLink]="['/createBusiness']" -->
          <i
            style="padding: 4px 4px"
            class="fa fa-plus btn btn-xs btn-primary btn-circle padding-add"
            (click)="businessPageStatus()"
          ></i>
        </span>
      </div>
      <div class="custom-panel html " style="max-height: 250px;" [collapse]="businessPage" [isAnimated]="true">

        <ul class="body "style="margin-left: 19px;margin-bottom: -56px;">
          <!-- <li> <a [routerLink]="['/business']" routerLinkActive="router-link-active" > {{businessdetail.businessName}} </a> </li> -->

          <li
            style="list-style-type: none; text-transform: none ; padding: 3px;"
            *ngFor="
              let data of businessdetail | slice: startPageBus:paginationLimitBus "(click)="getbussinessid(data)">
            <a data-toggle="tooltip" data-placement="top" title="{{data.businessName }}">
             <i class="fa fa-suitcase" style="padding-right: 5px;"></i>
              {{ data.businessName | truncate: 12 }}
            </a>
          </li>
          <li *ngIf="businessdetail && businessdetail.length > 5" style="list-style-type: none; text-transform: none">
            <p
              class="showMorePointer1"
              *ngIf="paginationLimitBus < businessdetail.length"
              (click)="showMoreBusiness()"
            >
              Show more
            </p>
          </li>
          <li *ngIf="showLessBus" style="list-style-type: none; text-transform: none">
            <p
              class="showMorePointer1"
              *ngIf="paginationLimitBus"
              (click)="showLessBusiness()"
            >
              Show Less
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="border-grey ">
      <div class="panel-heading font-bold">
        <div class="panel-tools">
          <a
            (click)="mycommunities = !mycommunities"
            [attr.aria-expanded]="!mycommunities"
          >
            <i *ngIf="mycommunities" class="fa fa-chevron-down"></i>
            <i *ngIf="!mycommunities" class="fa fa-chevron-up"></i>
          </a>
          <!-- <a class="closebox"><i class="fa fa-times"></i></a> -->
        </div>
        Communities
        <span class="pull-right m-r-20">
          <i
            style="padding: 4px 4px"
            class="fa fa-plus btn btn-xs btn-primary btn-circle padding-add"
            [routerLink]="['/createCommunity']"
          ></i>
        </span>
      </div>
      <div class="custom-panel html " [collapse]="mycommunities" [isAnimated]="true">
        <div class="scrollable-content body ">
          <ul
            style="list-style-type: none; padding-left: 20px; line-height: 24px"
          >
            <li
              *ngFor="
                let community of communityDetails
                  | slice: startPageCom:paginationLimitCom
              "
              (click)="setCommunityId(community)"
            >
              <!-- tooltip ="{{community.communityName }}" placement="left" -->
              <a data-toggle="tooltip" data-placement="top" title="{{community.communityName }} " class="ellipse">
                <i
                  *ngIf="community.entityType == 'USER'"
                  class="fa fa-user"
                ></i>
                <i
                  *ngIf="community.entityType == 'BUSINESS'"
                  class="fa fa-suitcase"
                ></i>
                <!--<i *ngIf="community.entityType=='COMMUNITY'"  class="fa fa-users"></i>-->

                {{ community.communityName | truncate: 20 }}</a>
            </li>
            <li *ngIf="communityDetails && communityDetails.length > 5">
              <p
                class="showMorePointer1"
                *ngIf="paginationLimitCom < communityDetails.length"
                (click)="showMoreComm()"
              >
                Show more
              </p>
            </li>
            <li *ngIf="showLessCommunity">
              <p
                class="showMorePointer1"
                *ngIf="paginationLimitCom"
                (click)="showLessComm()"
              >
                Show Less
              </p>
            </li>
          </ul>

          <!-- <div style="float: right;margin-bottom: 10px;">
      <div><a href="">More..</a></div>
      <div><a href="">..See All</a></div>
      </div> -->
        </div>
      </div>
    </div>


    <div *ngIf="isModalShown" [config]='backdropConfig' (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="margin-right: 2rem;margin-top: 1rem;">
                <button type="button" style="font-size: 27px; margin-right: -8px;" class="close pull-right"
                    aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 style="margin: 0px 0px 10px 14px; padding-top: 10px;">Select Business Page</h5>
            </div>
            <hr style="margin-top: 0px;">
            <div class="modal-body" style="padding: 0px 0px 22px 22px;">
                <p>Please choose one of your current organizations from the dropdown to create Business Page for</p><br>
              <form [formGroup]="chooseBusinessPage" >
                <div class="row app-form">
                  <div class="form-group col-sm-8">
                    <select class="form-control input-sm" formControlName="organizationName">
                      <option [value]="null" selected disabled>Choose the organization</option>
                      <option *ngFor="let org of organizationList" [value]="org.organizationId">{{org.organizationName}}</option>
                    </select>
                    <div class="error-msg" *ngIf="formValidity&&controlOfForms.organizationName.errors">
                      <div *ngIf="controlOfForms.organizationName.errors.required">
                        Please choose the organization
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row pad-buttons">
                <button style="margin-right:5px;" (click)="onHidden()" class="btn secondary-btn btn-sm">Cancel</button>
                <button  (click)="navigate()" class="btn primary-btn btn-sm">Continue</button>
              </div>
            </div>
        </div>
    </div>
</div>
