.b-g-clr {
  background-color: #fff;
}


.m-t-30 {
  margin-top: 30px;
}

.plsko-op {
  padding: 5px;
}

.item-city{
  padding:0 5px ;
}

.flxxy {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 6px;
}

.flxxy1 {
  padding-left: 0px;
  display: flex;
}

.report {
  height: 19px;
  width: 59px;
  text-align: center;
  cursor: pointer;
}

.w-20 {
  width: 85px !important;
}

.blue-color {
  color: #1272f0;
}

.stud {
  display: grid;
  position: relative;
  left: 21px;
  row-gap: 2px;
}

.name-scsss {
  font-weight: 600;
  text-overflow: ellipsis;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.no-mg {
  margin: 0px !important;
}

.lqp {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.sdjl {
  padding-right: 0px;
  padding-left: 27px;
}

.uy-oi {
  margin: 0px 5px 10px 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.uy-oii {
  margin: 0px 5px;
  padding: 5px 5px 10px 5px;
  display: flex;
  align-items: center;
}

.rcrtr-lbl {
  font-weight: 500;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 0px 4px 2px 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 15px;
  font-size: 12px;
  cursor: context-menu;
}

.pdnmj {
  padding: 5px 20px 0px 5px;
}

.sectionate {
  margin-bottom: 5px;
  padding: 0px !important;
}

.flxxx {
  display: flex;
  column-gap: 4px;
  cursor: context-menu;
}

.elpss {
  overflow: hidden;
  overflow: ellipsis;
  white-space: nowrap;
  color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 116px;
  text-overflow: ellipsis;
}

.fig {
  font-weight: 500;
  position: relative;
  top: 12px;
}

.uy-tr1 {
  display: flex;
  height: 28px;
}

.fig1 {
  font-weight: 500;
  position: relative;
  top: 20px;
}

.wert {
  position: relative;
  text-align: center;
  top: 5rem;
}

.img-circle {
  width: 38px !important;
  height: 38px !important;
  margin-left: auto;
  margin-right: auto;
}

.sa-as {
  display: flex;
  column-gap: 3px;
  align-items: center;
}

.font-10z {
  font-size: 8px;
}


.icon-size {
  width: 15px;
}

.pointer {
  cursor: pointer;
}

.m-t-10 {
  margin-top: 10px;
}

.skeleton {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ddd !important;
  color: transparent !important;
  border-color: #1e2226 !important;
  user-select: none;
  cursor: default;
}

.skeleton img {
  opacity: 0;
}

.jk-op {
  display: grid;
  // column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
}
.dwidth{
  width: max-content;
  font-size: 12px;
  margin-left: -26px;
  float: right;
  padding: 3px 6px;
}

.bj-io {
  display: flex !important;
  column-gap: 3px;
}

.jsdhgf {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  text-overflow: ellipsis;
  background-color: #e5e7ea;
  ;
  overflow: hidden;
  width: 10rem;
  white-space: nowrap;
}

.sm-sz11 {
  height: 20px;
}

.ssm {
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.openop {
  color: green;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: 3px;
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.ioxlp {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  background-color: #e5e7ea;
  overflow: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
}

.uy-tr {
  display: -webkit-box;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: -6px;
}

.uy-tr>div {
  overflow: hidden;
  overflow: ellipsis;
  white-space: nowrap;
  width: max-content;
  text-overflow: ellipsis;
}

.img-width-dot-icon {
  max-height: 25px;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.m-lm18 {
  margin-left: -18px !important;
}

.f-w-b {
  font-weight: bold;
}

.bg-tags {
  background: #eee;
}

.bg-heart {
  color: red;
}

.flow-data{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 8px;
}

.h-30{
height: 30px;
}

.filter-res-{
  z-index: 1;
  background: #ebedf0;
  padding-bottom: 36px;
  position: relative;
  .btn-group{
    float: right;
  }
}

.stickthere-job-applied {
  position: -webkit-sticky;
  position: sticky;
  top: 14rem;
  z-index: 1;
  box-shadow: 0px 3px 5px #81889387;
}