.search-results {
  // height: 30rem;
  height: 90%;
  overflow: scroll;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.h-207 {
  height: 212px !important;
}

.bgcolor {
  background-color: #ffff !important;
}
.mainNav {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.navIteam:nth-of-type(1) {
  flex-grow: 4 !important;
}
.navIteam:nth-of-type(2) {
  flex-grow: 4 !important;
}
.navIteam:nth-of-type(3) {
  flex-grow: 0 !important;
}
.navIteam:nth-of-type(4) {
  flex-grow: 0 !important;
}
.navIteam:nth-of-type(5) {
  flex-grow: 0 !important;
}

.displayflex {
  display: flex;
}

.filimg {
  width: 2rem;
  height: 2rem;
}

.seachTopNav {
  width: 103%;
  margin-left: -7px;
  margin-top: -8px;
  position: sticky;
  top: 72px;
  z-index: 2;
  box-shadow: 0px 4px 10px -4px #717277;
}

.fbtn {
  margin-left: 5px;
  margin-right: 5px;
}

.sCard {
  padding: 0px;
  // margin-top: 5px;
  margin: 0px 5px 0px -5px;
  padding-right: 5px;
  padding-bottom:5px;
}

.pcard {
  margin-left: -21px;
  width: 105.5%;
}
.ml-9 {
  margin-left: -9px;
}

.pad-right-5 {
  padding-bottom: 9px;
}

.m-top-5 {
  margin-top: 5px;
  margin-left: -18px;
}
.w-103 {
  width: 103%;
}

.m-r {
  margin-left: -18px;
}

.pad-people-60610 {
  padding: 6px 0px 6px 10px!important;
}