.m-l-17{
    margin-left: -17px;
}
.ellipse {
    text-overflow: ellipsis;
    width: 17rem;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .img-circle {
    width: 56px !important;
    height: 56px !important;
  }
  
  .Vthree-dote {
    max-height: 3rem;
    position: relative;
    top: 0.2rem;
    // width: none !important;
    // height: none !important;
  }
  
  .m-l-81 {
    // margin-left: -50px;
    right: 0;
    left: auto;
  }
  
  // .padd {
  //   padding: 0px 4px 0px !important;
  // }
  
  .b-5 {
    border-radius: 3px !important;
    margin-top: 3px;
  }
  
  .m-r-10 {
    margin-right: -5px;
  }
  .bntStyle  {
    .open > .dropdown-menu {
      display: block;
  }
  }
  
  .pad-lt-0 {
    padding-left: 0px;
  }
  
  .pad-rt-0 {
    padding-right: 0px;
  }
  
  
  
  .op {
    padding: 0rem 1rem;
    // margin-top: -1rem;
  }
  
  .erv {
    margin-top: -13px;
  }
  
  .kskls {
    display: grid;
    grid-gap: 0.5rem;
    position: relative;
    float: right;
  }
  
  .mxpl {
    position: relative;
    top: 0.5rem;
  }
  
  .fl-rtt {
    float: right;
    // right: 0.6rem;
    // position: relative;
  }
  
  .rmlft {
    position: relative;
    left: 1rem;
  }
  
  .crown {
    height: 3rem;
    position: relative;
    right: 1rem;
    width: auto;
    top: 0.6rem;
    left: -2rem;
  }
  
  .skdh0 {
    padding-left: 0px !important;
      // padding-right: 0.4rem;
      position: relative;
      bottom: 0.6rem;
  }