.b-g-clr {
  background-color: #fff;
}

.m-t-30 {
  margin-top: 30px;
}


.plsko-op {
  padding: 5px;
}

.deactivatedaa {
  cursor: not-allowed !important;
  filter: brightness(0.9);
}

.oyoyo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5.5px;
  position: relative;
  bottom: 7px;
  color: red;
  font-weight: 600;
}
.job-section {
  position: absolute;
  top: 43px;;
  right: 0;
  .user-action {
    flex-direction: row-reverse;
    display: flex;
  }
}

.plazxzl {
  display: flex;
  align-items: center;
}

#cancel {
  border-radius: 3px;
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #fff;
}

.highlighjob {
  background: #e2fdff;
}

.UpdatedJobHighLight {
  border: 1px solid #63cfbe;
}

// input.ng-pristine {
//   color: red;
// }
.rht {
  margin-left: 418px;
}

.RtrForm {
  padding: 10px;
  margin: 0;
  display: flex;
}

.tAndCdesign {
  margin: 0 28px;
}

.apply {
  display: block;
  margin-inline: 43px;
}

.termsCondition {
  position: relative;
  bottom: -3px;
}

.targetRate {
  padding: 0 50px;
}

.termsDesign {
  position: relative;
  right: 189px;
  bottom: -14px;
  block-size: auto;
}

.common-rtr {
  width: 122px;
}

.error {
  color: red;
}

.paytype {
  margin: 0 20px;
}

.flxxy {
  display: flex;
}

.flxxy1 {
  padding-left: 0px;
  display: flex;
}

.report {
  height: 19px;
  width: 59px;
  text-align: center;
  cursor: pointer;
}

.w-20 {
  width: 85px !important;
}

.blue-color {
  color: #1272f0;
  padding: 0px;

}

.stud {
  display: grid;
  position: relative;
  left: 21px;
  row-gap: 2px;
}

.name-scsss {
  font-weight: 600;
  text-overflow: ellipsis;
  width: 135px;
  overflow: hidden;
  white-space: nowrap;
}

.no-mg {
  margin: 0px !important;
}

.lqp {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.sdjl {
  padding-right: 0px;
  padding-left: 27px;
}

.uy-oi {
  margin: 0px 5px 10px 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  margin-top: -3px !important;
}

// .required-field::before {
//   content: "*";
//   color: #c3002f;
//   float: right;
// }

.social-profileCustom .media-body .userCardList {
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0px !important;
}

.viewuserCardList {
  width: 100%;

  h5 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.dwidth {
  width: 118px;
  font-size: 12px;
  margin-right: 36px;
  padding: 4px;
}

.uy-oii {
  margin: 0px 5px;
  // padding: 5px 5px 25px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ui-align-role {
  position: absolute;
  left: 54%;
  top: 15px;
  // top: 26px;
  /* font-size: 16px; */
  height: 15px;
  font-size: 9px;
  margin-left: 32px;
  width: 21px;
  text-align: center;
}

.check-ui {
  position: absolute;
  // top: -18px;
  left: 0;
  height: 18px;
  width: 17px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.line-tag {
  margin-top: 1px;
  margin-bottom: 1px;
  border: 0;
  border-top: 1px solid #eee;
}

.rcrtr-lbl {
  font-weight: 500;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 0px 4px 2px 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 15px;
  font-size: 12px;
  cursor: context-menu;
}

.pdnmj {
  padding: 5px 20px 0px 5px;
}

.sectionate {
  margin-bottom: 5px;
  padding: 0px !important;
}

.flxxx {
  display: flex;
  column-gap: 4px;
  cursor: context-menu;
}

.elpss {
  overflow: hidden;
  overflow: ellipsis;
  white-space: nowrap;
  color: black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: 116px;
  text-overflow: ellipsis;
}

.fig {
  font-weight: 500;
  position: relative;
  top: 12px;
}

.uy-tr1 {
  display: flex;
  height: 28px;
}

.fig1 {
  font-weight: 500;
  position: relative;
  top: 20px;
}

.wert {
  position: relative;
  text-align: center;
  top: 5rem;
}

.img-circle {
  width: 38px !important;
  height: 38px !important;
  margin-left: auto;
  margin-right: auto;
  margin-left: -30px;
}

.sa-as {
  display: flex;
  column-gap: 3px;
  align-items: center;
}

.font-10z {
  font-size: 8px;
}

.icon-size {
  width: 15px;
}

.pointer {
  cursor: pointer;
}

.m-t-10 {
  margin-top: 10px;
}

.skeleton {
  position: relative;
  width: max-content;
  overflow: hidden;
  border-radius: 4px;
  background-color: #ddd !important;
  color: transparent !important;
  border-color: #1e2226 !important;
  user-select: none;
  cursor: default;
}

.skeleton img {
  opacity: 0;
}

.jk-op {
  display: grid;
  // column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
}

.bj-io {
  display: flex !important;
  column-gap: 3px;
}

.jsdhgf {
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  text-overflow: ellipsis;
  background-color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
}

.sm-sz11 {
  height: 20px;
}

.ssm {
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.openop {
  color: green;
  font-weight: 600;
  font-size: 13px;
  position: relative;
  top: 3px;
  padding: 0px 4px 0px 4px;
  height: 20px;
}

.uy-tr {
  display: -webkit-box;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: -6px;
}

.uy-tr>div {
  overflow: hidden;
  overflow: ellipsis;
  white-space: nowrap;
  width: max-content;
  text-overflow: ellipsis;
}

.img-width-dot-icon {
  max-height: 25px;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0));
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.m-lm18 {
  margin-left: -18px !important;
}

.f-w-b {
  font-weight: bold;
}

.bg-tags {
  background: #eee;
}

.bg-heart {
  color: red;
}

.interactive-elements {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3px 0px 7px 0px !important;
  margin-left: -7px !important;
}

// .cardListItm {
//   display: grid !important;
//   row-gap: 12px !important;
// }

.brk-wrd {
  word-break: break-word;
}

.flxx {
  display: flex;
  column-gap: 3px;
}

.cus-wrap>.row {
  margin-bottom: 15px !important;
}

.cust-wra>.row {
  margin-bottom: 15px !important;
}

.currency-type {
  color: #72aad5;
  font-weight: 600;
  padding-right: 6px !important;
}

.font-bold-600 {
  font-weight: 600;
}

.shifu {
  display: flex;
  column-gap: 0.5rem;
  flex-direction: row-reverse;
}

.error-msg {
  font-size: 12px;
  color: #c3002f;
  font-weight: 500;
  display: flex;
  flex-direction: row-reverse;
}


// .chat-icon {
//   position: relative;
//   top: 2px;
//   right: 2px;
//   font-size: 16px;
// }
