.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 21rem;
  height: 23rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

// .cardNav{
//   display: flex;
// }

table {
  width: 18%;
  margin-left: -18px;
}

th {
  font-weight: bold;
  text-align: center;
}



td {
  padding: 6px;
  border: 1px solid #ccc;

  tr {
    text-align: center;
  }
}

.plazxzl {
  display: flex;
  align-items: center;
}

.closeBtn {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px;
}

.textTitle {
  text-align: center;
  width: 15%;
}

.cardImg {
  width: 21rem;
  height: 16.4rem;
}

.footPadding {
  padding: 0px 6px !important;
}

.mb-15 {
  margin-bottom: -15px !important;
}

.mt-27 {
  margin-top: 27px !important;
}
.bdr-0 {
  border-radius: 0px !important;
}
.mb-15 {
  margin-bottom: -15px;
}

.lsjdo {
  max-height: 45px!important;
  min-height: 45px;
}

.minheight165 {
  min-height: 144px !important;
  // padding-top: 0px !important;
  padding-bottom: 0px!important;
}

.deactivated {
  cursor: not-allowed!important;
  filter: brightness(0.9);
}
.deactivatedaa {
  cursor: not-allowed!important;
  filter: brightness(0.9);
}
.uidbkoxz {
  position: relative;
  bottom: 8px;
}

.iewbdl {
  float: right;
  position: relative;
  bottom: 40px;
}

.oyoyo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5.5px;
  position: relative;
  bottom: 7px;
  color: red;
  font-weight: 600;
}

.zloipfhh {
  margin-left: -138px;
}

h4:hover {
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}

.mbss {
  margin-bottom: 4px;
}

.mt-23 {
  margin-top: 23px;
}

.Bphoto {
  width: 5.2rem;
  height: 5.2rem;
  position: relative;
  right: 10px;
  margin: 3px 0px 3px;
}

.iconsize {
  font-size: 22px;
  cursor: pointer;
}

.iconAliment {
  float: right;
  top: 1rem;
  left: 1rem;
  position: relative;
}

.not-verified {
  background-color: #5bc0de;
  border: #ccc;
  color: white;
  border-radius: 3px;
  position: relative;
  bottom: 10px;
}
.not-verified[href]:hover,
.not-verified[href]:focus {
  background-color: #31b0d5;
  border: #ccc;
  color: white;
  border-radius: 3px;
}
.body-pad {
  padding: 0px 0px 10px 0px;
}

.title-aug {
  margin: 4px 0px 15px 14px;
  padding-top: 10px;
}

.body-pad1 {
  padding: 0px 0px 0px 22px;
}
.input-margi {
  margin: 21px 0px 19px 22px;
}
 .cardEillpise{
  text-overflow: ellipsis;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
 }

 .cp{
   cursor: pointer;
 }

 .Vthree-dote {
  width: 25px;
  height: 25px;
}
.m-r-10 {
  margin-right: -10px;
}
.b-5 {
  border-radius: 3px !important;
  margin-top: 3px;
}


.cardmenu{
  right: 0;
  left: auto;
}

.sdjfhj {
  font-weight: 600;
  text-overflow: ellipsis;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
}


.crown {
  height: 3rem;
  position: relative;
  width: auto;
  top: 4.5rem;
}

.uiii {
  position: relative;
  left: -0.7rem;
  top: 1.2rem;
}
.admincrown{
  height: 3rem;
  position: absolute;
  width: auto;
  top: 4.5rem;
  right: 7px;
}

.loc {
  position: relative;
  top: 1rem;
  font-size: 27px;
}
