<div class="hpanel margin-bottom-5" *ngIf="viewType=='MIN'">
  <div class="panel-heading hbuilt wig-c">
    {{ headerTitle }}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="community-admin d-flex">
          <ng-container *ngIf="userConnecction.length > 0; else noConnectionsYet">
            <div class="photo-container" *ngFor="let item of userConnecction.slice(0, 5); let i = index;">
              <a class="pd-3" *ngIf="item['photo']" title="{{ item?.fullName }}" (click)="route(item)">
                <img class="user-photo" [src]="imgUrl + item['photo']">
              </a>
              <div *ngIf="!item['photo']" class="circles" [style.background-color]="getColor(item?.fullName)" (click)="route(item)">
                <div class="circle-text">{{ getInitials(item?.fullName) }}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12" *ngIf="userConnecction.length>0">
        <button class="btn btn-primary btn-xs" style="float: right;" (click)="openModal(template)">Invite</button>

      </div>
    </div>
    <div class="text-center" style="display: grid;" *ngIf="pageName=='BUSINESS_LIST' && inputData == 'HOME'">
      Visit your Business Pages and invite your Connections to your Business.
    </div>
    <div class="text-center" style="display: grid;" *ngIf="pageName=='COMMUNITY_LIST' && inputData == 'HOME'">
      Visit your Community Pages and invite your Connections to your Community.
    </div>
  </div>
</div>

<ng-template #noConnectionsYet>
  <p class="text-center" style="display: grid;" *ngIf="inputData=='BUSINESS' || inputData=='COMMUNITY'">
    <span>
      <img style=" max-height: 3rem; position: relative; bottom: 1rem;" src="assets/icon/party-popper.png" alt="">
    </span>
    <span *ngIf="inputData=='COMMUNITY'"> Nobody from your connections is left to invite to the Community Page</span>
    <span *ngIf="inputData=='BUSINESS'"> Nobody from your connections is left to invite to the Business Page</span>
  </p>
</ng-template>




<ng-template #template>
  <div class="hpanel">

    <div class="common-header-flex">
      <div>{{headerTitle}}</div>
      <button >
        <span (click)="closeModal()" class="common-close">&times;</span>
      </button>
    </div>


    <!-- <div class="row"> -->
    <input type="text" class="form-control" (keyup)="onSearch($event)" class="ksjksd input-sm" name="searchName"
      id="xcxcv" aria-describedby="helpId" placeholder="Search Connections" [(ngModel)]="searchName" />

    <div class="ksfdh920" *ngIf="userConnecction.length>1 && !beingTyped">
      <div>
        <label for="">Select All</label>
      </div>
      <div class="custom-checkbox em">
        <label class="checkbox-label font-bold" style="text-align: center">
          <input type="checkbox" [(ngModel)]="theChecker" (change)="checkAll($event)" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <!-- </div> -->
    <!-- <div class="modal-body"> -->
    <!-- <ng-container *ngIf="( data |  pksearch:searchNonFinalData) as userConnecction"> -->


    <div *ngFor="
      let data of userConnecction
        | filter: searchName
        | paginate: config;
      let i = index
    ">
      <div class="oi">
        <div class="row poi">
          <div class="col-sm-1">
            <img *ngIf="data?.photo" class="sddx" [src]="imgUrl+data.photo"/>
            <div *ngIf="!data?.photo">
              <div class="circles" [style.background-color]="getColorName(data.firstName,data.lastName)">
                <div class="circle-text ">{{ getInitialName(data.firstName,data.lastName) }}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <label title="{{ data.firstName }} {{ data.lastName }} ">
              <a class="ft-12">{{ data.firstName }} {{ data.lastName }}</a>
            </label>
            <div class="overflow-hiden-" title="{{ data.title }}">
              {{ data.title }}
            </div>
          </div>
          <div class="col-sm-2 rm">
            <div class="custom-checkbox em">
              <label class="checkbox-label font-bold" style="text-align: center">
                <input type="checkbox" value="{{ data.userId }}" [(ngModel)]="data.checked"
                  (change)="onCheckboxChange(data, $event)" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <!-- <div *ngIf="userConnecction.length==0">Sorry, no such user found.</div> -->
        </div>
      </div>
    </div>
    <!-- <p *ngIf="userConnecction.length == 0">No Result</p>   -->

    <!-- </ng-container> -->

    <!-- <ng-container *ngIf="( nonFinalArList |  pksearch:searchNonFinalData) as result">

    <div *ngFor="let nonFinalArList of result; let i = index"> </div>

    <p *ngIf="result.length === 0">No Result</p>

  </ng-container> -->

    <!-- </div> -->
    <div class="modal-footer">
      <div class="col-sm-6">
        <pagination-controls class="left-page-align" (click)="pagecount(page)" (pageChange)="page = $event">
        </pagination-controls>
      </div>
      <div class="col-sm-6">
        <div class="footerContainer" style="float: right">
          <div class="footerIteam1">
            <button class="btn btn-Success btn-sm mr-2" (click)="dismiss()">
              Cancel
            </button>
          </div>
          <div class="footerIteam2">
            <button class="btn primary-btn btn-sm btn-close-gap" [disabled]="selectedEntities.length == 0||apicalled"
              (click)="inviteAll()">
              Send Invitation
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>
