

.data-p {
  color: #292828 !important;
  font-weight: 500;
}

.empty-message-container {
display: grid;
row-gap: 33px;
justify-content: center;
justify-items: center;
position: relative;
top: 50px;


img {
  vertical-align: middle;
  height: 165px;
}

.empty-message {
  font-weight: 400px;
  font-size: 13px;
}
}
